@using COAD.SEGURANCA.Extensions
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title PORTAL COAD</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/themes/base/default.css")
    @Styles.Render("~/Content/themes/base/simple-sidebar.css")
    @Styles.Render("~/Content/themes/base/bootstrap-theme.css")
    @Styles.Render("~/Content/themes/base/bootstrap.css")

    @Scripts.Render("~/Scripts/Angular/angular.js")
    <script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/default.js")


    <!-- compatibilidades com ie antigos-->
    @Scripts.Render("~/Scripts/compatibilidades/respond.js")
    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    @Scripts.Render("~/Scripts/compatibilidades/PIE.js")
    <script>
        $(document).ready(function () {
            $('.showLoaderImageNoSubmit').click(function () {
                $(".showLoaderImage").hide();
                showAjaxLoader();
            });

            $('.showLoaderImage').click(function () {
                showAjaxLoader();
                $.ajax({
                    url: window.location.origin,
                    cache: false,
                    async: false,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#ErroConexao").show();
                        $(".showLoaderImage").hide();
                        //alert("Fora do ar");
                        return false;
                    },
                    success: function (html) {
                        $("#ErroConexao").hide();
                        $(".showLoaderImage").hide();
                        document.getElementById("frmLog").submit();
                    }
                });

            });
        });
    </script>
</head>

<body>

    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "frmLog" }))
    {
        if (TempData["Resultado"] != null)
        {
            string t = TempData["Resultado"].ToString();

            @Html.Alert(t, "PORTAL COAD MOBILE");

        }
    
        <div class="form-group">
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger", role = "alert" })
        </div>
        <header class="header-logo">
            <div class="menu-header">
                <nav class="navbar navbar-inverse navbar-fixed-top menu-overrides" role="navigation">
                    <div class="navbar-header">
                        <img src="~/Images/logo-coad-informacoes-confiaveis.png" width="110" height="50" />
                    </div>
                    <div class="container">
                        <div id="navbar" class="navbar-collapse collapse">
                        </div>
                    </div>
                </nav>
                <!-- Fim do menu navbar do boostrap -->
            </div>
        </header>
        <div class="container">
            <div class="row">
                &nbsp
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">PORTAL COAD MOBILE - Login</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.Label("Informe o Login:")
                                @Html.TextBox("_login", "", new { @class = "form-control", placeholder = "Login" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Informe a Senha:")
                                @Html.Password("_Senha", "", new { @class = "form-control", placeholder = "Senha" })
                            </div>
                            
                            <button type="button" class="btn btn-lg btn-success btn-block showLoaderImage">Login</button><p></p>
                            <a href="/Usuario/CadastroGratuito" class="btn btn-lg btn-success btn-block showLoaderImageNoSubmit">Cadastro Gratuito</a>
                             @*@Html.ActionLink("Cadastro gratuito", "CadastroGratuito", "CadastroGratuito", new { @class = "btn btn-lg btn-success btn-block" })*@

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</body>

</html>
