<!-- ALT: 23/06/2015 - disponibilizando os dados e métodos javascript -->
@model  COAD.CORPORATIVO.Model.Dto.OcorrenciaErroDTO
@using Coad.GenericCrud.Extensions

@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Erros das Ocorrências</li>
    </ol>
}

<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/Ocorrencia/OcorrenciaErro.js")

<!-- ALT: 23/06/2015 - abrindo Angular para a aplicação -->
<div ng-app="appModule">
    <div ng-controller="OcorrenciaErroController" class="padding content">
        <div class="panel panel-default">
            <div app-message></div>
            <!-- ALT: 23/06/2015 - pequeno menu à direita -->
            <div class="panel-heading bold head-panel">
                <span class="glyphicon glyphicon-filter"></span> Filtros
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Opções <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="@Url.Action("Novo")" class="blue">Novo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ALT: 23/06/2015 - buscar/pesquisar -->
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-lg-1">
                        <label for="nome">Código</label>
                        <input type="text" id="cod" ng-model="filtro.cod" class="form-control"/>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="nome">Banco</label>
                        @Html.DropDownList("filtro.bco", new SelectList(@ViewBag.bco, "Value", "Text"), "", new { @class = "form-control", ng_model = "filtro.bco" })
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="nome">Cód.Retorno</label>
                        @Html.DropDownList("filtro.codRet", new SelectList(@ViewBag.cbRet, "Value", "Text"), "", new { @class = "form-control", ng_model = "filtro.codRet" })
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="nome">Descrição</label>
                        <input type="text" id="descricao" ng-model="filtro.rem" class="form-control"/>
                    </div>
                </div>
            </div>
            <!-- ALT: 23/06/2015 - botão pesquisar -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="listar()"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
            </div>
        </div>
        <div class="panel panel-default" ng-show="ocorrencia">
            <!-- ALT: 23/06/2015 - exibindo dados pesquisados -->
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-book"></span> Erros das Ocorrências </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!-- ALT: 23/06/2015 - mensagens ocorridas nesta tela -->
                    <div>
                        @Html.Messages()
                    </div>
                    <!-- ALT: 23/06/2015 - registros deste módulo -->
                    <table class="table table-hover table-bordered">
                        <!-- ALT: 23/06/2015 - exibindo campos do cabeçalho -->
                        <thead>
                            <tr>
                                <th style="min-width: 050px">
                                    @Html.DisplayName("OCE_CODIGO")
                                </th>
                                <th style="min-width: 050px">
                                    @Html.DisplayName("BAN_ID")
                                </th>
                                <th style="min-width: 050px">
                                    @Html.DisplayName("OCT_CODIGO")
                                </th>
                                <th style="min-width: 150px">
                                    @Html.DisplayName("OCE_DESCRICAO")
                                </th>
                                <th style="text-align: center;">Editar</th>
                            </tr>
                        </thead>
                        <!-- ALT: 23/06/2015 - exibindo os dados e os botões de operações -->
                        <tr ng-repeat="item in ocorrencia">
                            <td>{{item.OCE_CODIGO}}</td>
                            <td>{{item.BAN_ID}}</td>
                            <td>{{item.OCT_CODIGO}}</td>
                            <td>{{item.OCE_DESCRICAO}}</td>
                            <td style="text-align: center;"><a href="javascript:void(0)" app-post="@Url.Action("Editar")?cod={{item.OCE_CODIGO}}&bco={{item.BAN_ID}}&codRet={{item.OCT_CODIGO}}" title="Editar" class="blue"><span class="glyphicon glyphicon-edit"></span></a></td>
                        </tr>
                    </table>
                </div>
                <app-pagination request-page="paginaReq" load-function="listar(paginaReq)"></app-pagination>
            </div>
        </div>
    </div>
</div>
