@model  COAD.CORPORATIVO.Model.Dto.ClienteDto

@{
    ViewBag.Title = "Emitir Proposta";
    ViewBag.defer = @"defer='defer'";
    bool podeFaturar = SessionUtil.PossuiPermissaoParaFaturar();
    string podePagar = (podeFaturar) ? "1 == 1" : "1 == 2";
}
@using Coad.GenericCrud.Extensions
@using COAD.CORPORATIVO.SessionUtils
@using GenericCrud.ActionResultTools
@using GenericCrud.Util

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Emitir Proposta</li>
    </ol>
 }


<script src="@UrlCorp.Content("~/Scripts{path}negocio/proposta.js")" defer="defer"></script>

<div ng-app="appModule">
    @*<div>
        <a href="#" class="btn btn-info btn-" style="width: 100%;"> <i class="fa fa-cart-plus" aria-hidden="true"></i> Emitir Proposta</a>
    </div>*@
    <br />
    <div class="panel panel-default" ng-controller="PropostaController"
         data-ng-init="init('@ViewBag.prtId', '@ViewBag.empId', '@ViewBag.ehGerente', '@ViewBag.repId');" ng-cloak>
        <!-- Default panel contents -->
 
            @Html.ValidationSummary(true)
                  <!-- Default panel contents -->
            <div class="panel-heading bold head-panel"><i class="fa fa-cart-plus" aria-hidden="true"></i> Emitir Proposta
                    
                        <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false" ng-disabled="button == 'saved'">
                                            Opções
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                             <li>
                                                <a href="@Url.Action("Index")" title="Voltar" class="blue"> Voltar</a>
                                            </li>
                                            <li ng-show="prospect.ID">
                                                <a href="javascript:void(0)" app-confirm="@Url.Action("Remover")?prospectId={{prospect.ID}}" 
                                                    app-msg="Deseja realmente excluir o prospect [{{prospect.NOME}}] ?" class="btnConfirmaExclusao blue" title="Excluir"> Excluir</a>
                                            </li>                                                                                                                    
                                        </ul>
                                    </div>
                                </div>                   
                     
            </div>

            <div class="panel-body">
                <div app-message></div>
                <div class="pull-right">
                    <strong ng-switch="proposta.UEN_ID">
                        <span ng-switch-when="1" class="label label-info">Proposta de Curso</span>
                        <span ng-switch-when="2" class="label label-success">Proposta de Assinatura</span>
                        <span ng-switch-default class="label label-danger">Uen Incompativel com a Proposta</span>
                    </strong>
                </div>
                    <fieldset ng-show="proposta.UEN_ID == 1 || proposta.UEN_ID == 2">
                        <legend class="text-info">
                            <span class="font-16">
                                <i class="fa fa-male" aria-hidden="true"></i>
                                <span class="font-15">Dados do Cliente</span>
                            </span>
                        </legend>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="campo_TPP_ID">Tipo de Proposta</label>
                                <select id="campo_TPP_ID" name="campo_TPP_ID" class="form-control" ng-model="proposta.TPP_ID" ng-disabled="proposta.UEN_ID == 1"
                                        ng-options="tpp.TPP_ID as tpp.TPP_DESCRICAO for tpp in lstTipoProposta" ng-change="tipoPropostaAlterado()">
                                        <option value="">Selecione</option>
                                </select>
                                <div app-validation-msg="erros" for="TPP_ID"></div>
                            </div>
                             <div class="form-group col-sm-3">
                                <label for="campo_EMP_ID">Empresa</label>
                                <select id="campo_EMP_ID" name="campo_EMP_ID" class="form-control" ng-model="proposta.EMP_ID"
                                        ng-options="emp.EMP_ID as emp.EMP_NOME_FANTASIA for emp in lstEmpresas" ng-change="empresaAlterada();">
                                        <option value="">Selecione</option>
                                </select>
                                <div app-validation-msg="erros" for="EMP_ID"></div>
                            </div>    
                            <div class="form-group col-sm-2">
                                <label for="campo_CLI_ID">Cód. Prospectado</label>
                                <div class="input-group">
                                    <input type="text" id="campo_CLI_ID" class="form-control" ng-model="proposta.CLI_ID" app-number ng-change="obterDadosDoProspect()" />
                                    <a class="input-group-addon" href="javascript:void(0);" title="Buscar Cliente" ng-click="abrirModalBuscarCliente();">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </a>
                                </div>
                                <div app-validation-msg="erros" for="CLI_ID"></div>
                            </div>   
                           <div class="form-group col-sm-3">
                               <label for="campo_data_faturamento">Data/Semana Faturamento</label>
                               <select id="campo_data_faturamento" 
                                       name="campo_data_faturamento" 
                                       class="form-control"
                                       ng-change="semanaFatSelecionada()"
                                       ng-model="proposta.DATA_FATURAMENTO_STR" 
                                       ng-options="
                                       dtFat.Data.getFullYear() + '/' + 
                                       dtFat.Data.getMonth() + '/' +
                                       dtFat.Data.getDate() as 
                                       dtFat.Descricao for dtFat in lstDatasFaturamento">
                                   <option value="">Selecione</option>
                               </select>
                               <div app-validation-msg="erros" for="EMP_ID"></div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label for="campo_TNE_ID">Tipo de Negociação</label>
                                <select id="campo_TNE_ID" name="campo_TNE_ID" class="form-control" ng-model="proposta.TNE_ID"
                                        ng-options="tne.TNE_ID as tne.TNE_DESCRICAO for tne in lstTipoNegociacao">
                                    <option value="">Selecione</option>
                                </select>
                                <div app-validation-msg="erros" for="TNE_ID"></div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="selectRegiao">Representante</label>
                                <span ng-show="proposta.REPRESENTANTE && ehGerenteEmitindo">
                                    <a href="javascript:void(0);" ng-click="abrirModalRepresentante()" title="Alterar" class="clear-link">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </a>
                                    <a href="javascript:void(0);" ng-click="removerRepresentante()" title="Remover" class="text-danger clear-link">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </span>
                                <span ng-hide="proposta.REPRESENTANTE || !ehGerenteEmitindo">
                                    <a href="javascript:void(0);" ng-click="abrirModalRepresentante()" title="Adicionar" class="text-info">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </span>
                                <div class="text font-15" ng-show="proposta.REPRESENTANTE"><span class="label label-primary">{{proposta.REPRESENTANTE.REP_ID}} {{proposta.REPRESENTANTE.REP_NOME }} {{proposta.CAR_ID}}</span> </div>
                                <div class="text" ng-show="!proposta.REPRESENTANTE"><span class="label label-default">Não Adicionado</span></div>

                                <div app-validation-msg="erros" for="REP_ID"></div>
                            </div>                            
                            <div class="form-group col-sm-3" ng-hide="ehGerenteEmitindo">
                                <label for="campo_CAR_ID">Carteira</label>
                                <select id="campo_CAR_ID" name="campo_CAR_ID" class="form-control" ng-model="proposta.CAR_ID"
                                        ng-options="car.CAR_ID as car.CAR_ID for car in lstCarteiramento">
                                    <option value="">Selecione</option>
                                </select>
                                <div app-validation-msg="erros" for="EMP_ID"></div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group col-sm-1">
                                        <label>Código</label>
                                        <div class="text">{{proposta.INFO_CLIENTE.CLI_ID}}</div>
                                </div>
                                <div class="form-group col-sm-3">
                                        <label>Nome</label>
                                        <div class="text">{{proposta.INFO_CLIENTE.CLI_NOME}}</div>
                                </div>
                                <div class="form-group col-sm-2">
                                        <label>CPF/CNPJ</label>
                                        <div class="text">{{proposta.INFO_CLIENTE.CLI_CPF_CNPJ}}</div>
                                </div>
                                <div class="form-group col-sm-2">
                                        <label>Tipo de Pessoa</label>
                                        <div class="text">{{proposta.INFO_CLIENTE.TIPO_CLIENTE.TIPO_CLI_DESCRICAO}}</div>
                                </div>
                                <div class="form-group col-sm-1">
                                        <label>Tipo</label>
                                        <div>
                                            <span class="label" ng-class="{
                                                      
                                                'label-warning' : proposta.INFO_CLIENTE.CLA_CLI_ID == 1,
                                                'label-success' : proposta.INFO_CLIENTE.CLA_CLI_ID == 2,
                                                'label-primary' : proposta.INFO_CLIENTE.CLA_CLI_ID == 3,
                                                }">{{proposta.INFO_CLIENTE.CLASSIFICACAO_CLIENTE.CLA_CLI_DESCRICAO}}</span>

                                        </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col col-xs-3 col-md-3 form-group" ng-if="proposta.INFO_CLIENTE && proposta.INFO_CLIENTE.TIPO_CLI_ID != 2">
                                <label for="check-empresa-do-simples">Empresa é do Simples?</label><br />
                                <label class="switch switch-success switch-round">
                                    <input type="checkbox" ng-model="proposta.PRT_EMPRESA_DO_SIMPLES" id="check-empresa-do-simples"
                                           ng-change="calcularImpostoDoPedido()" ng-checked="proposta.PRT_EMPRESA_DO_SIMPLES == true">
                                    <span class="switch-label" data-on="Sim" data-off="Não"></span>
                                </label>
                            </div>
                            <div class="col col-xs-2 col-md-2 form-group" ng-if="proposta.INFO_CLIENTE">
                                <label>Faturar 100%</label><br />
                                <label class="switch switch-success switch-round">
                                    <input type="checkbox" ng-model="proposta.PRT_POR_CENTO_FATURADO" id="check-cemo"
                                           ng-change="calcularImpostoDoPedido()" ng-checked="proposta.PRT_POR_CENTO_FATURADO == true">
                                    <span class="switch-label" data-on="Sim" data-off="Não"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>E-Mail de Contato</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" ng-model="proposta.PRT_EMAIL_CONTATO"
                                               class="form-control float-left" />
                                        <a href="javascript:void(0);" ng-show="proposta.CLI_ID"
                                           ng-click="abrirModalDeEmails(proposta.CLI_ID, 'PRT_EMAIL_CONTATO')"
                                           class="input-group-addon" title="Visualizar E-Mails">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </a>
                                    </div>
                                    <div app-validation-msg="erros" for="PRT_EMAIL_CONTATO"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>E-Mail da Nota Fiscal</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" ng-model="proposta.PRT_EMAIL_NOTA_FISCAL"
                                               class="form-control float-left" />
                                        <a href="javascript:void(0);" ng-show="proposta.CLI_ID"
                                           ng-click="abrirModalDeEmails(proposta.CLI_ID, 'PRT_EMAIL_NOTA_FISCAL')"
                                           class="input-group-addon" title="Visualizar E-Mails">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </a>
                                    </div>
                                    <div app-validation-msg="erros" for="PRT_EMAIL_NOTA_FISCAL"></div>
                                </div>
                            </div>
                        </div>
                        <div class="padding"></div>
                    </fieldset>
                    <fieldset ng-show="proposta.UEN_ID == 1 || proposta.UEN_ID == 2">
                        <legend class="text-info">                    
                            <span class="font-16">                                                
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <span class="font-15">Produtos</span>
                            </span>
                        </legend>
                        <div class="table-responsive">                                
                                <div class="text">                                    
                                 @*   @if(COAD.CORPORATIVO.SessionUtils.SessionUtil.GetUenId() == 1 || SessionUtil.FranquiadoOuGerente()){
                                        
                                        <span>Adicionar Curso</span>
                                        <a href="javascript:void(0);" ng-click="abrirModalCurso()"
                                                     title="Adicionar" class="text-primary">
                                                    <span class="glyphicon glyphicon-plus"></span></a>
                                    }*@
                                        
                                    <div>
                                        <span>Adicionar Produto</span>
                                        <a href="javascript:void(0);" ng-click="dispararAcaoAdicaoProduto()"
                                                     title="Adicionar" class="text-primary">
                                                    <span class="glyphicon glyphicon-plus"></span></a>
                                    </div>
                                    
                                </div>
                                <br />
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item N°</th>
                                            <th ng-show="proposta.TPP_ID == 2 || proposta.TPP_ID == 3"> Assinatura <span>de Origem</span></th>
                                            <th>
                                                Produto
                                            </th>
                                            <th ng-show="proposta.UEN_ID == 1">
                                                Turma
                                            </th>
                                            <th ng-show="proposta.UEN_ID == 1">
                                                Localidade
                                            </th>
                                            <th ng-show="(proposta.UEN_ID == 2) && (proposta.TPP_ID == 2)">Consultas</th>
                                            <th ng-show="(proposta.UEN_ID == 2) && (proposta.TPP_ID == 1)">Período Bônus (Mês)</th>
                                            <th>
                                                QTD
                                            </th>
                                            <th>Preco Unitário</th>
                                            <th>Total </th>
                                            <th>Cortesia</th>
                                            <th>Gera Nota</th>
                                            <th>#</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="item in proposta.PROPOSTA_ITEM" class="animate-repeat" ng-class="{ 'disabled-row' : item.PST_ID != null && item.PST_ID != 1 && item.PST_ID != 10}">
                                        <td>{{$index + 1}}</td>
                                        <td ng-show="proposta.TPP_ID == 2 || proposta.TPP_ID == 3">
                                            <select id="campo_ASSINATURA{{$index}}" name="campo_ASSINATURA{{$index}}" class="form-control"
                                                    ng-model="item.ASN_NUM_ASSINATURA"
                                                    ng-options="ass.ASN_NUM_ASSINATURA as ass.ASN_NUM_ASSINATURA for ass in lstAssinatura"
                                                    ng-change="adicionarProdutoRenovacao(item)" ng-show="proposta.TPP_ID == 2">
                                                <option value="">Selecione</option>
                                            </select>

                                            <strong ng-show="proposta.TPP_ID == 2 || proposta.TPP_ID == 3">{{item.PPI_ASN_NUM_ASS_CANC}}</strong>
                                        </td>
                                        <td>
                                            {{item.PRODUTO_COMPOSICAO.CMP_DESCRICAO}}
                                        </td>

                                        <td ng-show="(proposta.UEN_ID == 1)">
                                            <input type="text" name="identificacao_turma{{$index}}" ng-model="item.PRT_IDENTIFICACAO_TURMA"
                                                   class="form-control float-left" style="max-width: 250px" app-text" />

                                            <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PRT_IDENTIFICACAO_TURMA"></div>

                                        </td>

                                        <td ng-show="proposta.UEN_ID == 1">
                                            <select id="campo_localizacao{{$index}}" name="campo_localizacao{{$index}}" class="form-control"
                                                    ng-model="item.LOC_ID"
                                                    ng-options="loc.LOC_ID as loc.LOC_DESCRICAO for loc in lstLocalizacoes">
                                                <option value="">Selecione</option>
                                            </select>
                                            <strong ng-show="proposta.TPP_ID == 2 || proposta.TPP_ID == 3">{{item.PPI_ASN_NUM_ASS_CANC}}</strong>
                                        </td>
                                        <td ng-show="(proposta.UEN_ID == 2) && (proposta.TPP_ID == 2)">
                                            <input type="text" name="valor_parcelas" ng-model="item.PPI_QTD_CONSULTA" ng-change="calcularPrecoItem(item)"
                                                   class="form-control float-left" style="max-width: 70px" app-number ng-disabled="(item.PST_ID != null && item.PST_ID != 1 && item.PST_ID != 10) || item.PPI_CORTESIA == true" />

                                            <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_QTD"></div>
                                        </td>
                                        <td ng-show="(proposta.UEN_ID == 2) && (proposta.TPP_ID == 1)">
                                            <input type="number" name="periodo_bonus" ng-model="item.PPI_PERIODO_MES_BONUS" ng-change="bloquearPeriodoBonus(item)"
                                                   class="form-control float-left" style="max-width: 70px" ng-disabled="(item.PST_ID != null && item.PST_ID != 1 && item.PST_ID != 10) || item.PPI_CORTESIA == true"
                                                   maxlength="2" />

                                            <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_QTD"></div>
                                        </td>
                                        <td>
                                            <input type="text" name="valor_parcelas" ng-model="item.PPI_QTD" ng-change="calcularPrecoItem(item); quantidadeAlterada(item);"
                                                   class="form-control float-left" style="max-width: 70px" maxlength="2" app-number
                                                   ng-disabled="(item.PST_ID != null && item.PST_ID != 1 && item.PST_ID != 10) || item.PPI_CORTESIA == true" />

                                            <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_QTD"></div>
                                        </td>
                                        <td>
                                            <input type="text" name="itm_valor_unitario" ng-model="item.PPI_VALOR_UNITARIOStr" data-change="calcularPrecoItem(item)"
                                                   class="form-control" style="max-width: 100px" app-mask-dinheiro="item.PPI_VALOR_UNITARIO"
                                                   ng-disabled="(item.PST_ID != null && item.PST_ID != 1 && item.PST_ID != 10) || item.PPI_CORTESIA == true" />
                                        </td>
                                        <td>
                                            <strong app-show-dinheiro="item.PPI_TOTAL"></strong>
                                            <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_TOTAL"></div>
                                        </td>
                                        <td>
                                            <label for="pendente">Cortesia</label><br />
                                            <label class="switch switch-success switch-round">
                                                <input type="checkbox" ng-model="item.PPI_CORTESIA" id="pendente" ng-checked="item.PPI_CORTESIA == true" ng-change="checarCortesia(item)">
                                                <span class="switch-label" data-on="Sim" data-off="Não"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="ped_gera_nota">Gera Nota</label><br />
                                            <label class="switch switch-success switch-round">
                                                <input type="checkbox" ng-model="item.PPI_GERA_NOTA" id="ped_gera_nota" ng-checked="item.PPI_GERA_NOTA == true">
                                                <span class="switch-label" data-on="Sim" data-off="Não"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" ng-click="deletarPropostaItem($index)"
                                               class="btnConfirmaExclusao red" id="btexcluir" title="Excluir"><span class="glyphicon glyphicon-remove-sign"></span></a>

                                        </td>
                                    </tr>
                                        <tr>
                                            <td colspan="11" ng-if="proposta.PROPOSTA_ITEM.length <= 0" class="text">
                                                Não foi encontrado nenhum registro.
                                            </td>
                                        </tr>
                                </table> 
                            </div>                        
                        <div class="padding"></div>
                    </fieldset>

                    @Html.Partial("Partials/Modais/_PropostaPedidoParticipantesPartial")
                    <fieldset ng-show="proposta.UEN_ID == 1 || proposta.UEN_ID == 2">
                        <legend class="text-info">                    
                            <span class="font-16">                                                
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <span class="font-15">Valores</span>
                            </span>
                        </legend>
                        <div ng-repeat="proItm in proposta.PROPOSTA_ITEM" 
                             ng-init="calcularProvaReal(proItm)">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label for="tipo_pagamento">Tipo de Pagamento</label>
                                    <select name="tipo_pagamento" class="form-control" ng-model="proItm.TIPO_PAGAMENTO" style="width:110px;"
                                            ng-options="item as item.TPG_DESCRICAO for item in lstTipoPagamento track by item.TPG_ID"
                                            ng-change="dispararAcaoPagamentoSelecionado(proItm);"
                                            ng-disabled="(proItm.PST_ID != null && proItm.PST_ID != 1 && proItm.PST_ID != 10) || proItm.PPI_CORTESIA == true">
                                        <option value="">Selecione</option>
                                    </select>
                                    <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].TPG_ID"></div>
                                </div>
                                <div class="form-group col-sm-2" ng-if="proItm.TIPO_PAGAMENTO.TPG_TIPO == 1">
                                    <label for="campo_entrada">Valor de Entrada</label><br />
                                    <input type="text" name="campo_entrada" ng-model="proItm.PPI_VALOR_BRUTO_ENTRADASTr" change="$parent.calcularParcela(proItm)"
                                           class="form-control" style="max-width: 100px" app-mask-dinheiro="proItm.PPI_VALOR_BRUTO_ENTRADA"
                                           ng-disabled="(proItm.PST_ID != null && proItm.PST_ID != 1 && proItm.PST_ID != 10) || proItm.PPI_CORTESIA == true" />
                                    <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_VALOR_ENTRADA"></div>
                                </div>
                                <div class="form-group col-sm-2" ng-show="proItm.TIPO_PAGAMENTO.TPG_TIPO == 1">
                                    <label for="campo_entrada">Vlr Entr. Líquido</label><br />
                                    <strong app-show-dinheiro="proItm.PPI_VALOR_ENTRADA"></strong>
                                    <a href="javascript:void(0)" ng-click="abrirInfoFatura(proItm.INFO_FATURA1)" ng-show="proItm.INFO_FATURA1"
                                       id="info_fatura" title="Info Fatura"><span class="glyphicon glyphicon-barcode"></span></a>
                                </div>
                                <div class="form-group col-sm-2" ng-show="proItm.TIPO_PAGAMENTO.TPG_ID == 9">
                                    <label for="campo_valor_parcela">Valor</label>
                                    <br />
                                    <strong app-show-dinheiro="proItm.PPI_VALOR_PARCELA"></strong>
                                    <a href="javascript:void(0)" ng-click="abrirInfoFatura(proItm.INFO_FATURA)" ng-show="proItm.INFO_FATURA"
                                       id="info_fatura" title="Info Fatura"><span class="glyphicon glyphicon-barcode"></span></a>
                                    <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_VALOR_PARCELA"></div>
                                </div>
                                <div class="form-group col-sm-2" ng-show="proItm.TIPO_PAGAMENTO.TPG_TIPO == 1 || proItm.TPG_ID == 9">
                                    <label for="campo_numero_parcela">N. Parcelas</label>
                                    <input type="text" id="campo_numero_parcela" class="form-control" style="max-width: 70px"
                                           ng-change="calcularParcela(proItm)"
                                           ng-model="proItm.PPI_QTD_PARCELAS"
                                           ng-disabled="(proItm.PST_ID != null && proItm.PST_ID != 1 && proItm.PST_ID != 10) || proItm.PPI_CORTESIA == true" />
                                    <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_QTD_PARCELAS"></div>
                                </div>
                                <div class="form-group col-sm-2" ng-show="proItm.TIPO_PAGAMENTO.TPG_ID != 9">
                                    <label for="campo_valor_parcela">Parcelas</label><br />
                                    <strong>{{proItm.PPI_QTD_PARCELAS}}</strong> x
                                    <strong app-show-dinheiro="proItm.PPI_VALOR_PARCELA"></strong>
                                    <a href="javascript:void(0)" ng-click="abrirInfoFatura(proItm.INFO_FATURA)" ng-show="proItm.INFO_FATURA"
                                       id="info_fatura" title="Info Fatura"><span class="glyphicon glyphicon-barcode"></span></a>
                                    <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_VALOR_PARCELA"></div>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="campo_valor_parcela">Valor Total Parcelas</label><br />
                                    <strong app-show-dinheiro="proItm.ProvaRealTotal"></strong>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-sm-2">
                                    <label for="campo_entrada">Data de Vencimento</label><br />
                                    <input type="text" name="campo_data_venc" ng-model="proItm.PPI_DATA_VENCIMENTOSTr"
                                           class="form-control" style="max-width: 100px" app-date="proItm.PPI_DATA_VENCIMENTO"
                                           ng-disabled="(proItm.PST_ID != null && proItm.PST_ID != 1 && proItm.PST_ID != 10) || proItm.PPI_CORTESIA == true" />
                                    <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_DATA_VENCIMENTO"></div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="campo_entrada">Data de Vencimento Seg. Parcela</label><br />
                                    <input type="text" name="campo_data_venc" ng-model="proItm.PPI_DATA_VENCIMENTO_SEG_PARCELAStr"
                                           class="form-control" style="max-width: 100px" app-date="proItm.PPI_DATA_VENCIMENTO_SEG_PARCELA"
                                           ng-disabled="(proItm.PST_ID != null && proItm.PST_ID != 1 && proItm.PST_ID != 10) || proItm.PPI_CORTESIA == true" />
                                    <div app-validation-msg="erros" for="PROPOSTA_ITEM[{{$index}}].PPI_DATA_VENCIMENTO_SEG_PARCELA"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                <div style="width:22%" class="pull-right" ng-show="proposta.UEN_ID == 1 || proposta.UEN_ID == 2">
                    <div>
                        <label for="campo_total_total">Total Bruto:</label>
                        <strong id="campo_total_total" app-show-dinheiro="proposta.PRT_VALOR_UNITARIO"></strong>
                    </div>
                    <div>
                        <label for="campo_total_total_liquido">Total Líquido:</label>
                        <strong app-show-dinheiro="proposta.PRT_VALOR_TOTAL"></strong>
                    </div> 
                </div>
                <div style="clear:both;"></div>
                <fieldset ng-show="proposta.UEN_ID == 1 || proposta.UEN_ID == 2">
                     <legend class="text-info">
                            <span class="font-16">
                                <i class="fa fa-comment" aria-hidden="true"></i>
                                <span class="font-15">Observações</span>
                            </span>
                        </legend>
                             <div>           
                                <div class="panel panel-corp">
                                    <!-- Default panel contents -->
                                    <div class="panel-heading bold head-panel pointer" 
                                        data-toggle="collapse" 
                                        data-target="#body_observacoes" 
                                        aria-controls="body_observacoes"
                                        aria-expanded="false">
                                        Observações
                                    </div>

                                    <div class="panel-body collapse" id="body_observacoes">

                                        <div class="form-group">
                                            <label>Observações Da Proposta</label>
                                            <textarea ng-model="proposta.PRT_OBSERVACOES" rows="5" class="form-control">

                                            </textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Observações Nota Fiscal</label>
                                            <textarea ng-model="proposta.PRT_OBSERVACOES_NOTA_FISCAL" rows="5" class="form-control">

                                            </textarea>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                    </fieldset>
            </div>

         <div class="panel-footer">
            <button type="button" onclick="window.location = '@Url.Action("index", "proposta")'" class="btn btn-default" ng-disabled="button1 == 'saved' || button2 == 'saved'">
                <span class="glyphicon glyphicon-chevron-left blue"></span> Voltar</button>
             <button ng-show="proposta.INFO_CLIENTE.CLI_ID"
                     app-switch-button="emitirProposta(true)"
                     switch-conf="[{label : 'Salvar e Voltar', state : 'save'}, {label : 'Salvando...', state : 'saved', disabled : true}]"
                     switch-var="button1"
                     class="btn btn-default" ng-disabled="button2 == 'saved'">
                 <span class="glyphicon glyphicon-floppy-save blue"></span>
             </button>     
            <button ng-show="proposta.INFO_CLIENTE.CLI_ID"
                app-switch-button="emitirProposta()" 
                switch-conf="[{label : 'Salvar', state : 'save'}, {label : 'Salvando...', state : 'saved', disabled : true}]" 
                switch-var="button2"
                class="btn btn-primary" ng-disabled="button1 == 'saved'">
                <span class="glyphicon glyphicon-floppy-save"></span>
            </button>        

        </div> 

        @*<div class="alert-validation-detals" ng-show="erros">
            <div class="panel panel-danger semi-opacity" style="border-width: 3px;">
                <div class="panel-body limit-div">
                    <ul class="lista-limpa">
                        <li ng-repeat="(key, value) in erros">
                            <ul class="lista-limpa">
                                <li ng-repeat="(key, subValue) in value">
                                    <strong class="text-danger">{{$parent.$index + 1}} {{subValue}}</strong>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@

         <div app-modal="modal-curso" header="Selecione o Curso">  
         
            @Html.Partial("Partials/_CursoPartial")
         </div> 

        <div app-modal="modal-produto-composicao" header="Selecione o Produto">  
         
            @Html.Partial("Partials/_ProdutoPartialProposta")
         </div>
        <div app-modal="modal-buscar-cliente" header="Buscar Cliente">  
         
            @Html.Partial("Partials/Modais/_ModalBuscarClientePartial")
         </div>
        <div app-modal="modal-busca-representante">
            @Html.Partial("Partials/Modais/_ModalBuscaRepresentantePartial");
        </div> 
        <div data-app-modal="modal-post-salvamento" data-header="Proposta Salva" data-submodal="" data-size="small" data-header-bg="false">
            <div class="alert alert-info alert-not-fixed" role="alert">
                <span class="glyphicon glyphicon-thumbs-up"></span> A Proposta foi Salva com Sucesso.
            </div>
            <div class="row form">
                <div class="form-group col-lg-12 limit-modal-height">
                    <div class="font-16"><strong>Código da Proposta </strong><span class="label label-danger">{{codigoDaProposta }}</span></div>

                </div>
            </div>
            <div class="row" ng-show="lstPropostaItemBoleto.length > 0">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>
                                        Nome do Produto
                                    </th>
                                    <th>Entrada</th>
                                    <th>Tipo de Pagamento</th>
                                    <th>
                                        Parcela(s)
                                    </th>
                                    <th>Total </th>
                                    <th>Data Pagamento</th>
                                    <th colspan="8" class="center">Ações</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in lstPropostaItemBoleto" class="animate-repeat">
                                <td>
                                    {{item.PPI_ID}}
                                </td>
                                <td>
                                    {{item.PRODUTO_COMPOSICAO.CMP_DESCRICAO}}
                                </td>
                                <td>
                                    <strong app-show-dinheiro="item.PPI_VALOR_ENTRADA"></strong>
                                </td>
                                <td>
                                    {{item.TIPO_PAGAMENTO.TPG_DESCRICAO}}
                                </td>
                                <td>
                                    <span><strong>{{item.PPI_QTD_PARCELAS}}X</strong> De</span>
                                    <strong><span app-show-dinheiro="item.PPI_VALOR_PARCELA"></span></strong>
                                </td>
                                <td>
                                    <strong app-show-dinheiro="item.PPI_TOTAL"></strong>
                                </td>
                                <td class="center" app-show-date="item.PPI_DATA_VENCIMENTO"></td>
                                <td ng-if="item.PST_ID == 1 || item.PST_ID == 2">
                                    <a href="javascript:void(0);" ng-show="@podePagar || item.PST_ID == 1"
                                       ng-click="abreModalEnviarEmailParaCliente(item.PPI_ID, item.PROPOSTA.CLI_ID, true)"
                                       class="blue" title="Enviar Boleto para E-Mail Selecionado">
                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                    </a>
                                    <a href="javascript:void(0);" ng-click="enviarBoletoAutomatico(item.PROPOSTA.PRT_EMAIL_CONTATO, item.PPI_ID, item.PROPOSTA.CLI_ID)"
                                       title="Enviar Boleto para '{{item.PROPOSTA.PRT_EMAIL_CONTATO}}'">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" ng-if="lstPropostaItemBoleto.length <= 0" class="text">
                                    Não foi encontrado nenhum registro.
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12 limit-modal-height">
                    <button type="button" class="btn btn-default" app-post="@Url.Action("index")"><span class="glyphicon glyphicon-list-alt"></span> Listagem</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" data-target="#modal-prospect-criado">
                        <span class="glyphicon glyphicon-ok"></span> Ok
                    </button>
                </div>
            </div>
        </div> 
        @Html.Partial("Partials/Modais/_ModalEnviarEmailBoletoPartial")

        <div data-app-modal="modal-validacao-pendendencia" data-header="Proposta Salva" data-submodal="" data-header-bg="false">
                <a href="#" class="btn btn-warning" style="width: 100%;">   <span class="glyphicon glyphicon-warning-sign"></span> Pendência ao salvar</a>
            @*<div class="alert alert-warning alert-not-fixed" role="alert">
                <span class="glyphicon glyphicon-warning-sign"></span> Pendência ao salvar.
            </div>*@

            <div class="text-muted padding">          
                <strong>
                    Existem pendências ao gerar essa proposta. 
                    Ao aceitar, ela será emitida com pendência de liberação do seu supervisor. Veja os motivos logo abaixo para mais informações
                </strong>
            </div>
            <div class="padding">
                <div id="conteudo">
                    <section id="cliente-inadimplente" ng-show="propostaSalvaResult.ValidacaoInadimplencia.ExisteInadimplencia">
                        <div class="text-warning padding-bottom-10">
                            <span class="font-25">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                <span class="font-16">O Cliente está Inadimplente</span>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    Código
                                </label>
                                <div class="text-muted">
                                    {{propostaSalvaResult.ValidacaoInadimplencia.ClienteInadimplente.CodigoCliente}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>
                                    Cliente
                                </label>
                                <div class="text-muted">
                                    {{propostaSalvaResult.ValidacaoInadimplencia.ClienteInadimplente.NomeCliente}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>
                                    CPF/CNPJ
                                </label>
                                <div class="text-muted">
                                    {{propostaSalvaResult.ValidacaoInadimplencia.ClienteInadimplente.cpfCnpj}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>
                                    Parcelas em Aberto
                                </label>
                                <a href="javascript:void(0)" ng-click="abrirModalDetalhesParcelas(propostaSalvaResult.ValidacaoInadimplencia.ClienteInadimplente.Parcelas)" title="Ver Parcelas">
                                    <div class="badge">
                                        {{propostaSalvaResult.ValidacaoInadimplencia.ClienteInadimplente.Parcelas.length}}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row limit-div-1_5" ng-show="propostaSalvaResult.ValidacaoInadimplencia.ClientesSimilaresInadimplentes.length > 0">
                            <div class="padding text-muted">Clientes Inadimplentes Similares</div>
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>
                                                    Cliente
                                                </th>
                                                <th>CPF/CNPJ</th>
                                                <th>Parcelas em Aberto</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="item in propostaSalvaResult.ValidacaoInadimplencia.ClientesSimilaresInadimplentes" class="animate-repeat">
                                            <td>
                                                {{item.CodigoCliente}}
                                            </td>
                                            <td>
                                                {{item.NomeCliente}}
                                            </td>
                                            <td>
                                                {{item.cpfCnpj}}
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" ng-click="abrirModalDetalhesParcelas(item.Parcelas)" title="Ver Parcelas">
                                                    <span class="badge">{{item.Parcelas.length}}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" ng-if="propostaSalvaResult.ValidacaoInadimplencia.ClientesSimilaresInadimplentes.length <= 0" class="text">
                                                Não foi encontrado nenhum registro.
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="outros-erros">
                        <div class="text-warning padding-bottom-10">
                            <span class="font-30">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                <span class="font-16">Erros por Itens de Proposta</span>
                            </span>
                        </div>
                        <div ng-repeat="valItm in propostaSalvaResult.ValidacoesItens | filter:queryPropostaVal">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Código do Item de Proposta </label>
                                    <div class="text-muted">{{valItm.ppiId}}</div>
                                </div>
                                <div class="col-md-4">
                                    <label>Produto </label>
                                    <div class="text-muted">{{valItm.DescricaoProduto}}</div>
                                </div>
                            </div>
                            <br />
                            <div class="limit-div-3">
                                <div ng-repeat="val in valItm.Validacoes">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                            <strong class="font-15">
                                                Erro Nº <em class="text-warning">{{$index + 1}}</em>
                                            </strong>
                                            {{val.Nome}}
                                        </div>
                                        <div class="panel-body">
                                            <div class="text-muted" ng-bind-html="val.Descricao">                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>          
            <div class="row">
                <div class="form-group col-lg-12 limit-modal-height">
                    <button type="button" class="btn btn-default" app-post="@Url.Action("index")"><span class="glyphicon glyphicon-list-alt"></span> Listagem</button>
                    <button type="button" class="btn btn-default" ng-click="cancelarModalSalvamento()"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
                    <div class="pull-right">
                        <button ng-show="proposta.INFO_CLIENTE.CLI_ID"
                                app-switch-button="$parent.emitirProposta(true, true)"
                                switch-conf="[{label : 'Salvar Assim mesmo', state : 'save'}, {label : 'Salvando...', state : 'saved', disabled : true}]"
                                switch-var="$parent.button3"
                                class="btn btn-warning">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div> 
        @Html.Partial("Partials/Modais/_ClienteInadimplenteParcelaModalPartial")
        <div app-modal="modal-fatura" header="Informações de desconto de imposto" size="small">
            @Html.Partial("Partials/_ModalInfoFaturaPartial")
        </div>
        <div app-modal="modal-emails-cli" header="Enviar link de email" submodal>
            <div class="row">
                <div class="col-lg-12 limit-modal-height-32em">
                    <fieldset>
                        <legend>
                            E-Mails do Cliente
                        </legend>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="assinatura">Assinatura</label>
                                <select name="assinatura" class="form-control" ng-model="$parent.objAssinatura"
                                        ng-options="item as item.ASN_NUM_ASSINATURA for item in lstAssinatura"
                                        ng-change="assinaturaSelecionada()">
                                    <option value="">Selecione</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="padding-bottom">
                        <legend class="text-primary">Selecione um E-Mail</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-hover table-stripped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Emails do Cliente
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="item in lstEmailsDoCliente" class="animate-repeat-all">
                                            <td>
                                                <a href="javascript:void(0);" ng-click="$parent.adicionarEmailProposta(item.AEM_EMAIL, $parent.modalEnvioEmail.campo)" class="text-success font-12"
                                                   title="Enviar Email">
                                                    <span class="label label-success">{{item.AEM_EMAIL}}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td ng-show="!lstEmailsDoCliente || lstEmailsDoCliente.length == 0">Nenhum E-Mail foi encontrado.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-hover table-stripped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Emails da Assinatura
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="item in lstEmails" class="animate-repeat-all">
                                            <td>
                                                <a href="javascript:void(0);" ng-click="adicionarEmailProposta(item.AEM_EMAIL, $parent.modalEnvioEmail.campo)"
                                                   title="Enviar Email" class="text-success font-12">
                                                    <span class="label label-success">{{item.AEM_EMAIL}}</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td ng-show="(!lstEmails || lstEmails.length == 0) && !$parent.modalEnvioEmail.EmailCustom">Nenhum E-Mail foi encontrado.</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
