@model  COAD.COADGED.Model.DTO.TipoMateriaDTO
@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home","index","Home")</li>
        <li>@Html.ActionLink("Gerenciar Tipos de Matérias","index","TipoMaterias")</li>
        <li class="active">Editar Tipos de Matérias</li>         
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/tipoMateria.js")
<div class="form-lg padding" ng-app="appModule">
    <div id="idMateria" class="panel panel-default" ng-controller="TipoMateriaController" data-ng-init="read(@ViewBag.tipoMateriaId)">
            @Html.ValidationSummary(true)          
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel"></span> Editar Tipo de Matéria</div>
            <div class="panel-body">  
                 <div app-message></div>
                 @using (Html.BeginForm(null,null, FormMethod.Post, new {role = "form"})) 
                 {
                 <div class="row">
                    <div class="form-group col-lg-1">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.TIP_MAT_ID,  new {@class = "form-control", ng_model = "tipoMateria.TIP_MAT_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.TIP_MAT_ID, null, new { app_validation_msg = "erros", @for = "TIP_MAT_ID" }) 
                    </div>
                    <div class="form-group col-lg-9">
                        @Html.LabelFor(model => model.TIP_MAT_DESCRICAO)
                        @Html.TextBoxFor(model => model.TIP_MAT_DESCRICAO,  new {@class = "form-control", ng_model = "tipoMateria.TIP_MAT_DESCRICAO" })
                        @Html.ValidationMessageFor(model => model.TIP_MAT_DESCRICAO, null, new { app_validation_msg = "erros", @for = "TIP_MAT_DESCRICAO" }) 
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.TIP_MAT_ATIVO)
                        @Html.DropDownListFor(model => model.TIP_MAT_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), null ,new {@class = "form-control", ng_model = "tipoMateria.TIP_MAT_ATIVO" })
                    </div>
                 </div>
                 <div class="panel panel-default">
                    <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel"></span> Modelo para o cabeçalho das matérias deste tipo</div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.LabelFor(model => model.ARE_CABECA_MATERIA)
                            @Html.HiddenFor(model => model.ARE_CABECA_MATERIA, new { @class = "form-control", ng_model = "tipoMateria.ARE_CABECA_MATERIA", app_rich_editor = "CabecaMateria" })
                            <div>
                                @Html.Raw(@ViewBag.ARE_CABECA_MATERIA)
                            </div>
                        </div>
                    </div>
                 </div>
                 }
            </div>
            <div class="panel-footer">
                <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left blue"></span>Fechar</button>
                <button type="button" class="btn btn-default" ng-click="salvarTipoMateria()"><span class="glyphicon glyphicon-floppy-save blue"></span>Salvar</button>
            </div>
    </div>
</div>