@model  COAD.CORPORATIVO.Model.Dto.ProdutosDTO

@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Produtos (Editar)</li>

    </ol>
}

@Scripts.Render("~/Scripts/negocio/produtos.js")

<div ng-app="appModule">
    <div class="panel panel-default" ng-controller="ProdutoController" ng-init="read(@ViewBag.produtoId)">
        @Html.ValidationSummary(true)
        <!-- Default panel contents -->
        <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel"></span>Produtos (Editar)</div>
        <div class="panel-body">
            <div app-message></div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
            {
                <div class="row">
                    <div class="form-group col-lg-2">
                        @Html.Label("Código")
                        @Html.TextBoxFor(model => model.PRO_ID, new { @class = "form-control", ng_model = "produto.PRO_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.PRO_SIGLA, null, new { app_validation_msg = "erros", @for = "PRO_ID" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.PRO_SIGLA)
                        @Html.TextBoxFor(model => model.PRO_SIGLA, new { @class = "form-control", ng_model = "produto.PRO_SIGLA" })
                        @Html.ValidationMessageFor(model => model.PRO_SIGLA, null, new { app_validation_msg = "erros", @for = "PRO_SIGLA" })
                    </div>
                    <div class="form-group col-lg-6">
                        @Html.LabelFor(model => model.PRO_NOME)
                        @Html.TextBoxFor(model => model.PRO_NOME, new { @class = "form-control", ng_model = "produto.PRO_NOME" })
                        @Html.ValidationMessageFor(model => model.PRO_NOME, null, new { app_validation_msg = "erros", @for = "PRO_NOME" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.DATA_EXCLUSAO)
                        @Html.TextBoxFor(model => model.PRO_NOME, new { @class = "form-control", ng_model = "produto.DATA_EXCLUSAO", disabled = false })
                        @Html.ValidationMessageFor(model => model.PRO_NOME, null, new { app_validation_msg = "erros", @for = "DATA_EXCLUSAO" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.NCM_ID)
                        @Html.TextBoxFor(model => model.NCM_ID, new { @class = "form-control", ng_model = "produto.NCM_ID", onkeyup = @"OnlyNumber(this);" })
                        @Html.ValidationMessageFor(model => model.NCM_ID, null, new { app_validation_msg = "erros", @for = "NCM_ID" })
                    </div>
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.AREA_ID)
                        @Html.DropDownListFor(model => model.AREA_ID, new SelectList(ViewBag.areas, "AREA_ID", "AREA_NOME"), "Selecione", new { @class = "form-control", ng_model = "produto.AREA_ID" })
                        @Html.ValidationMessageFor(model => model.AREA_ID, null, new { app_validation_msg = "erros", @for = "AREA_ID" })
                    </div>
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.GRUPO_ID)
                        @Html.DropDownListFor(model => model.GRUPO_ID, new SelectList(ViewBag.grupos, "GRUPO_ID", "GRU_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "produto.GRUPO_ID" })
                        @Html.ValidationMessageFor(model => model.GRUPO_ID, null, new { app_validation_msg = "erros", @for = "GRUPO_ID" })
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="PRO_RECEBE_MALA">
                            Receber Mala Direta
                        </label>
                        <br />
                        <input type="checkbox" ng-model="produto.PRO_RECEBE_MALA" />
                        @Html.ValidationMessageFor(model => model.PRO_RECEBE_MALA, null, new { app_validation_msg = "erros", @for = "PRO_RECEBE_MALA" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.PRO_IMPRESSO)
                        @Html.CheckBoxFor(model => model.PRO_IMPRESSO, new { @class = "form-control", ng_model = "produto.PRO_IMPRESSO" })
                        @Html.ValidationMessageFor(model => model.PRO_IMPRESSO, null, new { app_validation_msg = "erros", @for = "PRO_IMPRESSO" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.PRO_PRECO_COMPRA)
                        @Html.TextBoxFor(model => model.PRO_PRECO_COMPRA, new { @class = "form-control", ng_model = "produto.PRO_PRECO_COMPRAMask", app_mask_dinheiro = "produto.PRO_PRECO_COMPRA" })
                        @Html.ValidationMessageFor(model => model.PRO_PRECO_COMPRA, null, new { app_validation_msg = "erros", @for = "PRO_PRECO_COMPRA" })
                    </div>

                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.PRO_PRECO_CUSTO)
                        @Html.TextBoxFor(model => model.PRO_PRECO_CUSTO, new { @class = "form-control", ng_model = "produto.PRO_PRECO_CUSTO_MASK", app_mask_dinheiro = "produto.PRO_PRECO_CUSTO" })
                        @Html.ValidationMessageFor(model => model.PRO_PRECO_CUSTO, null, new { app_validation_msg = "erros", @for = "PRO_PRECO_CUSTO" })
                    </div>

                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.PRO_PRECO_VENDA)
                        @Html.TextBoxFor(model => model.PRO_PRECO_VENDA, new { @class = "form-control", ng_model = "produto.PRO_PRECO_VENDAMask", app_mask_dinheiro = "produto.PRO_PRECO_VENDA" })
                        @Html.ValidationMessageFor(model => model.PRO_PRECO_VENDA, null, new { app_validation_msg = "erros", @for = "PRO_PRECO_VENDA" })
                    </div>
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.TIPO_PRO)
                        @Html.DropDownListFor(model => model.TIPO_PRO, new SelectList(ViewBag.tipoProd, "TIPO_PRO", "TIPO_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "produto.TIPO_PRO" })
                        @Html.ValidationMessageFor(model => model.TIPO_PRO, null, new { app_validation_msg = "erros", @for = "TIPO_PRO" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.TPC_ID)
                        @Html.DropDownListFor(model => model.TPC_ID, new SelectList(ViewBag.tipoComportamento, "TPC_ID", "TPC_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "produto.TPC_ID" })
                        @Html.ValidationMessageFor(model => model.TPC_ID, null, new { app_validation_msg = "erros", @for = "TPC_ID" })
                    </div>
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.PRO_UN_COMPRA)
                        @Html.DropDownListFor(model => model.PRO_UN_COMPRA, new SelectList(ViewBag.unidadeMedida, "UND_ID", "UND_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "produto.PRO_UN_COMPRA" })
                        @Html.ValidationMessageFor(model => model.PRO_UN_COMPRA, null, new { app_validation_msg = "erros", @for = "PRO_UN_COMPRA" })
                    </div>
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.PRO_UN_VEND)
                        @Html.DropDownListFor(model => model.PRO_UN_VEND, new SelectList(ViewBag.unidadeMedida, "UND_ID", "UND_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "produto.PRO_UN_VEND" })
                        @Html.ValidationMessageFor(model => model.PRO_UN_VEND, null, new { app_validation_msg = "erros", @for = "PRO_UN_VEND" })
                    </div>
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.LIN_PRO_ID)
                        @Html.DropDownListFor(model => model.LIN_PRO_ID, new SelectList(ViewBag.LinhaProduto, "LIN_PRO_ID", "LIN_PRO_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "produto.LIN_PRO_ID" })
                        @Html.ValidationMessageFor(model => model.LIN_PRO_ID, null, new { app_validation_msg = "erros", @for = "LIN_PRO_ID" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.FAM_ID)
                        @Html.DropDownListFor(model => model.FAM_ID, new SelectList(ViewBag.FamiliaProduto, "FAM_ID", "FAM_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "produto.FAM_ID" })
                        @Html.ValidationMessageFor(model => model.FAM_ID, null, new { app_validation_msg = "erros", @for = "FAM_ID" })
                    </div>
                </div>
            }

        </div>
        <div class="panel-footer">
            <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default">Voltar</button>
            <button type="button" class="btn btn-default" ng-click="salvarProduto()">Salvar</button>
        </div>
    </div>
</div>
