@model  COAD.COADGED.Model.DTO.TipoAtoDTO
@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home","index","Home")</li>
        <li>@Html.ActionLink("Gerenciar Tipos de Atos","index","TipoAto")</li>
        <li class="active">Editar Tipos de Atos</li>         
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/tipoAto.js")
<div class="form-lg padding" ng-app="appModule">
    <div class="panel panel-default" ng-controller="TipoAtoController" data-ng-init="read(@ViewBag.tipoAtoId)">
            @Html.ValidationSummary(true)          
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel"></span> Editar Tipo de Ato</div>
            <div class="panel-body">  
                 <div app-message></div>
                 @using (Html.BeginForm(null,null, FormMethod.Post, new {role = "form"})) 
                 {
                 <div class="row">
                    <div class="form-group col-lg-1">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.TIP_ATO_ID,  new {@class = "form-control", ng_model = "tipoAto.TIP_ATO_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.TIP_ATO_ID, null, new { app_validation_msg = "erros", @for = "TIP_ATO_ID" }) 
                    </div>
                    <div class="form-group col-lg-9">
                        @Html.LabelFor(model => model.TIP_ATO_DESCRICAO)
                        @Html.TextBoxFor(model => model.TIP_ATO_DESCRICAO,  new {@class = "form-control", ng_model = "tipoAto.TIP_ATO_DESCRICAO" })
                        @Html.ValidationMessageFor(model => model.TIP_ATO_DESCRICAO, null, new { app_validation_msg = "erros", @for = "TIP_ATO_DESCRICAO" }) 
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.TIP_ATIVO)
                        @Html.DropDownListFor(model => model.TIP_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), null ,new {@class = "form-control", ng_model = "tipoAto.TIP_ATIVO" })
                    </div>
                 </div>
                 }
            </div>
            <div class="panel-footer">
                <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left blue"></span>Fechar</button>
                <button type="button" class="btn btn-default" ng-click="salvarTipoAto()"><span class="glyphicon glyphicon-floppy-save blue"></span>Salvar</button>
            </div>
    </div>
</div>