@using COAD.SEGURANCA.Extensions
@model  COAD.SEGURANCA.Repositorios.Base.AlterarSenha
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


@using (Html.BeginForm())
{

    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-search fa-fw"></i> @ViewBag.Title
            <div class="pull-right">
            </div>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(false) 
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.Label("LogIn")
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control", disabled = true })
                    @Html.HiddenFor(model => model.Login, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Login)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.Label("Alterar Senha")
                    @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.Label("Alterar Senha")
                    @Html.PasswordFor(model => model.ConfirmaSenha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmaSenha)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-default">Confirma</button>
            <a href="javascript:history.back()" class="btn btn-default" }>Voltar</a>
        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/Scripts/appScripts/popup.js")
    @Scripts.Render("~/Scripts/appScripts/perfil.js")
    @Scripts.Render("~/Scripts/appScripts/datepicker.js")
    @Scripts.Render("~/Content/themes/base/bootstrap-datepicker.css")
    @Scripts.Render("~/Content/appCss/CssLista.css")
    
}