@using Coad.GenericCrud.Extensions

@{
    ViewBag.print = true;
    int ano = (DateTime.Now != null) ? DateTime.Now.Year : 2015;
    if (ViewBag.print == true)
    {
        ViewBag.printableClass = "hidden-print";
    }

    ViewBag.Title = "Index";

}

<script>
    $(document).ready(function () {
        $(":input").inputmask();
    });
</script>

@Scripts.Render("~/Scripts/negocio/Contratos.js")
<style type="text/css">
    .body {
        background-color: #e8e8e8 !important;
    }
</style>


<div ng-app="appModule">
    <div ng-controller="ContratosController" class="padding content" ng-init="iniRelContratoTipoPgto();canPrint=true">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i><a href="/Relatorios/Controladoria">Relatorios</a>
                        </li>
                        <li>
                            <a href="/Relatorios/Controladoria">Relatórios Controladoria</a>
                        </li>
                        <li class="active">
                            <span> Faturamento por Tipo de Pagamento</span>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="panel panel-corp">
                <div app-message></div>
                <div class="panel-heading bold head-panel">
                    <span class="glyphicon glyphicon-filter"></span>Filtros
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Opções<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:void(0)"  ng-click="listarContratoTipoPgto()" title="Pesquisar" class="blue">Pesquisar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-1">
                            @Html.Label("Semana(Fat)")
                            <div class="form-group">
                                <label class="switch switch switch-round">
                                    <input type="checkbox" ng_model="filtro.tipodata">
                                    <span class="switch-label" data-on="SIM" data-off="NÃO"></span>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                @Html.Label("Inicial")
                                <div class="input-group date">
                                    @Html.TextBox("dtinicial", "", new { @class = "form-control datepicker", ng_model = "dtini", app_date = "filtro.dtini" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                @Html.Label("Final")
                                <div class="input-group date">
                                    @Html.TextBox("dtfinal", "", new { @class = "form-control datepicker", ng_model = "dtfim", app_date = "filtro.dtfim" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                @Html.Label("Empresa")
                                @Html.DropDownList("_emp_id", new SelectList(@ViewBag.ListaEmpresa, "Value", "Text"), "---- Selecione ----", new { @class = "form-control", ng_model = "filtro.emp_id", ng_change = "listarContratoTipoPgto()" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="GRUPO_ID">Grupo</label>
                                @Html.DropDownList("GRUPO_ID", new SelectList(ViewBag.grupos, "GRUPO_ID", "GRU_DESCRICAO"), "Selecione", new { @class = "form-control", ng_model = "filtro.grupo_id", ng_Change = "listarContratoTipoPgto()" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default" ng-click="listarContratoTipoPgto()"><span class="glyphicon glyphicon-search"></span>&nbspPesquisar</button>
                </div>
            </div>
            <div class="panel panel-default" ng-if="lstContratosTipoPgto.length>0" id="baseContent">
                <div class="hidden-print panel-heading bold head-panel"><span class="glyphicon glyphicon-book"></span>&nbspFaturamento por Tipo de Pagamento</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive" style="padding-left: 12px; padding-right: 12px;">
                            <table class="table table-hover table-bordered" style="padding-left: 12px;">
                                <thead>
                                    <tr class="info">
                                        <th colspan="4">
                                            <span>COADCORP - Faturamento por Tipo de Pagamento - {{filtro.dataatual}}</span>
                                        </th>
                                        <th style="text-align: right;">
                                            Período:&nbsp;{{dtini}} a {{dtfim}}
                                        </th>
                                    </tr>
                                    <tr class="info">
                                        <th style="text-align: left;" colspan="5">
                                            <span>EMPRESA: </span>
                                            <span ng-if="filtro.emp_id==1">COAD</span>
                                            <span ng-if="filtro.emp_id==2">ATUALIZACAO</span>
                                            <span ng-if="filtro.emp_id==3">CONTABIL E JURIDICA</span>
                                            <span ng-if="filtro.emp_id==4">COAD - GRAFICA</span>
                                            <span ng-if="filtro.emp_id==5">CORTESIA</span>
                                            <span ng-if="filtro.emp_id==6">Franquia RJ</span>
                                            <span ng-if="filtro.emp_id==7">PORTO MARAVILHA</span>
                                        </th>
                                    </tr>
                                    <tr class="info">
                                        <th>Tipo</th>
                                        <th style="text-align: center;">Nº Parcelas</th>
                                        <th style="text-align: left;">Produto</th>
                                        <th style="text-align: center;">Qtde Pedidos</th>
                                        <th style="text-align: right;">Total</th>
                                    </tr>
                                </thead>
           
                                <tr ng-repeat="item in lstContratosTipoPgto">
                                    <td style="font-size: small;">{{item.TIPO_PAGAMENTO}}</td>
                                    <td style="font-size: small;text-align: center;width:10%;">{{item.QTDE_PARCELAS}}</td>
                                    <td style="text-align: left;width:40%">
                                        {{item.PRO_ID}} - {{item.PRO_NOME}}
                                    </td>
                                    <td style="text-align: center;width:10%;">
                                        {{item.QTDE_PEDIDOS}}
                                    </td>
                                    <td app-show-dinheiro="item.VALOR_PARCELAS" style="text-align: right;width:20%"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-responsive" style="padding-left: 12px; padding-right: 12px;">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr class="info">
                                        <th style="text-align: center;" colspan="7">Total</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td style="text-align: left;width:70%">
                                        <label>Período:</label>&nbsp{{dtini}} a {{dtfim}}
                                    </td>
                                    <td style="text-align: center;">{{qtdecontratos}}</td>
                                    <td app-show-dinheiro="tolcontratos" style="text-align: right;width:20%"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12" ng-if="export.lnkPath!=null&&export.lnkPath!=''">
                        <div class="form-group">
                            <a href="{{export.lnkPath}}"><i class="glyphicon glyphicon-cloud-download"></i> Donwload do arquivo ( {{export.lnkPath}} ) </a>
                        </div>
                    </div>
                </div>
                <div class="hidden-print panel-footer">
                    <a class="btn btn-success" href="javascript:void(0)" app-print="#baseContent" print-flag="canPrint"><i class="fa fa-print"></i>&nbspImprimir</a>
                    <a class="btn btn-default" href="javascript:void(0)" ng-click="expPlanilha(lstContratosTipoPgto,'/RelFaturamentoTipoPgto/ExportarXLS')" title="Exportar a tabela para o excel">
                        <i class="fa fa-file-excel-o blue"></i>&nbspExportar
                    </a>
                    <a class="btn btn-default" href="/Relatorios/Controladoria">
                        <span class="glyphicon glyphicon-chevron-left blue"></span>&nbspVoltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
