@model  COAD.COADGED.Model.DTO.LabelsDTO
@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home","index","Home")</li>
        <li>@Html.ActionLink("Gerenciar Labels","index","Labels")</li>
        <li class="active">Editar Labels</li>         
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/labels.js")
<div class="form-lg padding" ng-app="appModule" data-ng-init="init()">
    <div class="panel panel-default" ng-controller="LabelsController" data-ng-init="read(@ViewBag.labelId)">
            @Html.ValidationSummary(true)          
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel"></span> Editar Label</div>
            <div class="panel-body">  
                 <div app-message></div>
                 @using (Html.BeginForm(null,null, FormMethod.Post, new {role = "form"})) 
                 {
                 <div class="row">
                    <div class="form-group col-lg-2">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.LBL_ID,  new {@class = "form-control", ng_model = "label.LBL_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.LBL_ID, null, new { app_validation_msg = "erros", @for = "LBL_ID" }) 
                    </div>
                    <div class="form-group col-lg-8">
                        @Html.LabelFor(model => model.LBL_NOME)
                        @Html.TextBoxFor(model => model.LBL_NOME,  new {@class = "form-control", ng_model = "label.LBL_NOME" })
                        @Html.ValidationMessageFor(model => model.LBL_NOME, null, new { app_validation_msg = "erros", @for = "LBL_NOME" }) 
                    </div>
                 @*</div>
                 <div class="row">
                    <div class="form-group col-lg-8">
                        @Html.LabelFor(model => model.LBL_DESCRICAO)
                        @Html.TextBoxFor(model => model.LBL_DESCRICAO,  new {@class = "form-control", ng_model = "label.LBL_DESCRICAO" })
                        @Html.ValidationMessageFor(model => model.LBL_DESCRICAO, null, new { app_validation_msg = "erros", @for = "LBL_DESCRICAO" }) 
                    </div>*@
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.LBL_ATIVO)
                        @Html.DropDownListFor(model => model.LBL_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), null ,new {@class = "form-control", ng_model = "label.LBL_ATIVO" })
                    </div>
                 </div>
                 }
            </div>
            <div class="panel-footer">
                <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left blue"></span>Fechar</button>
                <button type="button" class="btn btn-default" ng-click="salvarLabel()"><span class="glyphicon glyphicon-floppy-save blue"></span>Salvar</button>
            </div>
    </div>
</div>