@model  COAD.CORPORATIVO.Model.Dto.ClienteDto

@{
    ViewBag.Title = "Editar";
}
@using Coad.GenericCrud.Extensions

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Clientes (Editar)</li>
    </ol>
}
<script src="~/Scripts/negocio/controllers_plugins/telefone.js"></script>
<script src="~/Scripts/negocio/controllers_plugins/info_marketing.js"></script>
<script src="~/Scripts/negocio/controllers_plugins/info_cliente.js"></script>
<script src="~/Scripts/negocio/controllers_plugins/endereco.js"></script>
@Scripts.Render("~/Scripts/negocio/cliente.js")

<div ng-app="appModule">
    <div class="panel panel-default" ng-controller="ClienteController" data-ng-init="read('@ViewBag.clienteId', true, true, '@ViewBag.validarCPF_CNPJ'); init(undefined, false); inicializarInfos(@ViewBag.clienteId);
        initClienteTelefone(); initInfoCliente('@ViewBag.abrirModal', '@ViewBag.clienteId');" ng-cloak>
        <!-- Default panel contents -->
 
            @Html.ValidationSummary(true)          
                  <!-- Default panel contents -->
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel blue"></span> Editar Cliente
                    
                        <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false" ng-disabled="button == 'saved'">
                                            Opções
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                             <li>
                                                <a href="@Url.Action("Index")" title="Voltar" class="blue"> Voltar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" title="Salvar" ng-click="salvarClienteFranquia()" class="blue">Salvar</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" title="Informações" ng-click="abreModalCliente(cliente.CLI_ID)" class="blue">
                                                    Informações do cliente
                                                </a>
                                            </li>
                                            <li ng-show="prospect.ID">
                                                <a href="javascript:void(0)" app-confirm="@Url.Action("Remover")?prospectId={{prospect.ID}}" 
                                                    app-msg="Deseja realmente excluir o prospect [{{prospect.NOME}}] ?" 
                                                    class="btnConfirmaExclusao blue" title="Excluir"> Excluir</a>
                                            </li>                                                                                                                    
                                        </ul>
                                    </div>
                                </div>
                     
                     
            </div>

            <div class="panel-body">  
                <div app-message></div>
                 @using (Html.BeginForm(null,null, FormMethod.Post, new {role = "form"})) {
                    @Html.Partial("_ClienteParcial")
                                 
                     <div app-model-bind source-model="CLIENTES_TELEFONE" target-model="cliente.ASSINATURA_TELEFONE">
                         @Html.Partial("Partials/_TelefonePartial")
                     </div>
                   <div app-model-bind source-model="infoMarketing" target-model="cliente.INFO_MARKETING">
                         @Html.Partial("Partials/_InfoMarketingPartial")
                   </div>
                    <fieldset>
                        
                        <legend>Opções</legend>                    
                        <div class="row">
                            <div class="form-group col-lg-4">                                    
	                            <label for="pendente">Excluir Validação de Email/CPF/Telefone</label><br />
                                <label class="switch switch-danger switch-round">
                                    <input type="checkbox" ng-model="cliente.CLI_EXCLUIDO_VALIDACAO"  id="pendente" ng-checked="cliente.CLI_EXCLUIDO_VALIDACAO == true">
	                                <span class="switch-label" data-on="Sim" data-off="Não"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                 }
            </div>

         <div class="panel-footer">
            <button type="button" onclick="window.location = '@Url.Action("buscarClientes", "clientes")'" class="btn btn-default" ng-disabled="button == 'saved'">
                <span class="glyphicon glyphicon-chevron-left blue"></span> Voltar</button>
              <button  
                  app-switch-button="salvarClienteFranquia()" 
                  switch-conf="[{label : 'Salvar', state : 'save'}, {label : 'Salvando...', state : 'saved', disabled : true}]" 
                  switch-var="button"
                  class="btn btn-default">
                  <span class="glyphicon glyphicon-floppy-save blue"></span>
              </button>
             <button  
                  app-switch-button="salvarClienteEEmitirPedido()" 
                  switch-conf="[{label : 'Salvar e Emitir Pedido', state : 'save'}, {label : 'Salvando...', state : 'saved', disabled : true}]" 
                  switch-var="buttonP"
                  class="btn btn-default">
                  <span class="glyphicon glyphicon-floppy-save blue"></span>
              </button>

           <span ng-show="prospect.ID">
                <button type="button" class="btn btn-danger" 
                    app-confirm="@Url.Action("Remover")?prospectId={{prospect.ID}}" app-msg="Deseja realmente excluir o prospect [{{prospect.NOME}}] ?">
                    <span class="glyphicon glyphicon-remove-sign"></span> Excluir</button>

            </span>         

        </div> 
           @Html.Partial("Partials/_ModalClientePartial")
      </div>
</div>
