@model  COAD.COADGED.Model.DTO.ColaboradorDTO
@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions
    @section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("DashBoard","index","Home")</li>
        <li>@Html.ActionLink("Gerenciar Colaboradores","index","Colaborador")</li>
        <li class="active">Detalhes do Colaborador</li>         
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/colaborador.js")
<div class="form-lg padding" ng-app="appModule">

    <div class="panel panel-default" ng-controller="ColaboradorController" data-ng-init="read(@ViewBag.colaboradorId)">
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-search icon-panel"></span> Detalhes do Colaborador</div>

            <div class="panel-body">  
                <div app-message></div>               
                <div class="row">
                    <div class="form-group col-lg-1">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.COL_ID,  new {@class = "form-control", ng_model = "colaborador.COL_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.COL_NOME, null, new { app_validation_msg = "erros", @for = "COL_ID" }) 
                    </div>
                    <div class="form-group col-lg-9">
                        @Html.LabelFor(model => model.COL_NOME)
                        @Html.TextBoxFor(model => model.COL_NOME, new {@class = "form-control", ng_model = "colaborador.COL_NOME", disabled = "disabled"})                 
                    </div>                    
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.COL_ATIVO)
                        @Html.DropDownListFor(model => model.COL_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), null ,new {@class = "form-control", ng_model = "colaborador.COL_ATIVO", disabled = "disabled" })
                    </div>                    
                     <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.CRG_ID)
                        @Html.DropDownListFor(model => model.CRG_ID, new SelectList(@ViewBag.cargos, "Value", "Text"), null ,new {@class = "form-control", ng_model = "colaborador.CRG_ID", disabled = "disabled" })
                    </div>
                </div>
            </div>
            
            <div class="panel-footer">
                <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default">Voltar</button>
            </div>
    </div>

</div>
