@model  COAD.CORPORATIVO.Model.Dto.ProdutosDTO
@using Coad.GenericCrud.Extensions
@{
    ViewBag.Title = "Index";     
}

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Histórico Atendimento (SAC)</li>

    </ol>
}

@Scripts.Render("~/Scripts/negocio/histatend.js")
@Html.ValidationSummary(false)

<div ng-app="appModule">
    <div ng-controller="HistAtendController"  data-ng-init="preparaTela()"  class="padding content">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div app-message></div>
            <div class="panel-heading bold head-panel">
                <span class="glyphicon glyphicon-filter"></span> Filtros
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Opções
                                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="javascript:void(0)" app-post="@Url.Action("Imprimir")?clienteId=" title="Imprimir etiquetas não impressas selecionadas na consulta." class="blue">Imprimir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            @Html.Label("Data Inicial")
                            <div class="input-group">
                                <input type="text" id="dtinicial"  class="form-control" ng-model="dtini" app-date="filtro.dtinicial" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            @Html.Label("Data Final")
                            <div class="input-group">
                                <input type="text" id="dtfinal"  class="form-control" ng-model="dtfim" app-date="filtro.dtfinal" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="sigla">Assinatura</label>
                        <input type="text" id="Assinatura" ng-model="filtro.assinatura" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="sigla">Somente Etiquetas</label>
                        <input type="checkbox" checked="checked" ng-model="filtro.etiqueta" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="listar()">Pesquisar</button>
            </div>
        </div>

        <div class="panel panel-default" ng-show="listahistatend">
            <!-- Default panel contents -->
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-book"></span>Lista Clientes</div>

            <div class="panel-body">
                <div class="table-responsive">
                    <!-- <input type="text" ng-model="dataTest" app-date/>  -->

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th >Nº
                                </th>
                                <th >Assinatura
                                </th>
                                <th >Data 
                                </th>
                                <th>Impressão 
                                </th>
                                 <th style="min-width: 150px">Descrição
                                </th>
                                <th style="min-width: 150px">Nome
                                </th>
                                <th>Login
                                </th>
                                <th style="text-align: center;">Editar</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in listahistatend">
                            <td>{{item.HAT_ID}}
                            </td>
                            <td>{{item.ASN_NUM_ASSINATURA}}
                            </td>
                            <td app-show-date="item.HAT_DATA_HIST">
                            </td>
                            <td app-show-date="item.HAT_DATA_RESOLUCAO">
                            </td>
                            <td>{{item.HAT_TEXTO_ETIQUETA}}
                            </td>
                            <td>{{item.ASSINATURA.CLIENTES.CLI_NOME}}
                            </td>
                            <td>{{item.USU_LOGIN}}
                            </td>
                            <td style="text-align: center;">
                                <a href="javascript:void(0)" app-post="@Url.Action("Imprimir")?clienteId={{item.CLI_ID}}" title="Editar" class="blue">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <app-pagination request-page="paginaReq" load-function="listar(paginaReq)"></app-pagination>

            </div>
        </div>
    </div>
</div>
