@model  COAD.CORPORATIVO.Model.Fornecedor
@using Coad.GenericCrud.Extensions
@{
    ViewBag.Title = "Index";     
}

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Fornecedor</li>

    </ol>
}

@Scripts.Render("~/Scripts/appScripts/fornecedor.js")

<div ng-app="appModule">
    <div ng-controller="FornecedorController" class="padding content">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading bold head-panel">
                <span class="glyphicon glyphicon-filter"></span> Filtros
                <div class="pull-right">
               <div class="btn-group">
                   <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Opções<span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu pull-right" role="menu">
                       <li>
                           <a href="@Url.Action("Novo")" class="blue">Novo</a>
                       </li>
                   </ul>
               </div>
           </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-lg-10">
                        <label for="sigla">Razão Social</label>
                        <input type="text" id="nome" ng-model="filtro.razaosocial" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="listar()">Pesquisar</button>
            </div>
        </div>
        <div class="panel panel-default" ng-show="_listaFornecedor">
            <!-- Default panel contents -->
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-book"> </span> Cadastro de Fornecedor</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <!-- <input type="text" ng-model="dataTest" app-date/>  -->
                    <div>
                        @Html.Messages()
                        <div app-message></div>
                    </div>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                               <th style="min-width: 50px">
                                    @Html.DisplayNameFor(model => model.FOR_ID)
                                </th>
                                <th style="min-width: 250px">
                                    @Html.DisplayNameFor(model => model.FOR_RAZAO_SOCIAL)
                                </th>
                                <th style="min-width: 70px">
                                    @Html.DisplayNameFor(model => model.FOR_CNPJ)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FOR_CEL)
                                </th>
                                <th style="min-width: 50px">
                                    @Html.DisplayNameFor(model => model.FOR_TEL)
                                </th>
                                <th style="min-width: 50px">
                                    @Html.DisplayNameFor(model => model.FOR_FAX)
                                </th>
                                <th style="min-width: 100px">
                                    @Html.DisplayNameFor(model => model.FOR_EMAIL)
                                </th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in _listaFornecedor">
                            <td>{{item.FOR_ID}}
                            </td>
                            <td>{{item.FOR_RAZAO_SOCIAL}}
                            </td>
                            <td>{{item.FOR_CNPJ}}
                            </td>
                            <td>{{item.FOR_CEL}}
                            </td>
                            <td>{{item.FOR_TEL}}
                            </td>
                            <td>{{item.FOR_FAX}}
                            </td>
                            <td>{{item.FOR_EMAIL}}
                            </td>
                            <td><a href="javascript:void(0)" app-post="@Url.Action("Editar")?_for_id={{item.FOR_ID}}" title="Editar" class="blue"><span class="glyphicon glyphicon-edit"></span></a></td>
                        </tr>
                    </table>
                </div>
                <app-pagination request-page="paginaReq" load-function="listar(paginaReq)"></app-pagination>
            </div>
        </div>
    </div>
</div>
