@model  COAD.COADGED.Model.DTO.PublicacaoAreaConsultoriaDTO
@{
    ViewBag.Title = "Novo registro de matéria";
}
@using Coad.GenericCrud.Extensions
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li>@Html.ActionLink("Gerenciar Matérias", "index", "PublicacaoAreaConsultoria")</li>
        <li class="active">Novo registro de matéria *** @ViewBag.cargo (@ViewBag.cargoSigla) : @ViewBag.colaboradorNome [ @ViewBag.colecionadorNome ]</li>          
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/publicacaoAreaConsultoria.js")
<div ng-app="appModule" ng-cloak>
    <div id="idMateria" class="panel panel-default" ng-controller="PublicacaoAreaConsultoriaController" data-ng-init="preparaTudo('','', '@ViewBag.cabecaMateria', '', '@ViewBag.colecionadorNome', '@ViewBag.cargoSigla', ('@ViewBag.lIncluir'=='S'))">
            <div class="panel-heading bold head-panel" ng-click="exibirEditando()"><span class="glyphicon glyphicon-edit icon-panel"></span> Novo registro de matéria
                <span ng-show="pub.PUB_ID_PORTAL">
                    <a href="{{pub.linkMateria}}" ng-click="checarLinkMateria()" target="_blank" data-toggle="tooltip" title="Clique aqui para ler esta matéria já publicada no Portal COAD">
                      {{pub.linkMateria}}
                    </a>
                </span>
            </div>
            @Html.ValidationSummary(true)          
            <div class="panel-body">
            <div class="panel-body" app-bind-rich-text-event load="read(@ViewBag.publicacaoId, @ViewBag.colecionadorId)" data-ng-init="pub.lIncluir=('@ViewBag.lIncluir'=='S')">
                 <div app-message></div>
                 @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
                 {
                 <div class="panel-group" ng-show="exibir.editando" data-ng-init="pub.ARE_CONS_ID=@ViewBag.colecionadorId">
                     <div class="row">
                         <div class="form-group col-lg-2">
                             <div ng-show="!('@ViewBag.cargoSigla'=='DGT' || '@ViewBag.cargoSigla'=='RVO' || '@ViewBag.cargoSigla'=='DIA')">
                                <a href="javascript:void(0);" ng-click="prepararBuscarMateria();" data-toggle="tooltip" title="Clique aqui para buscar uma matéria">Nº da Matéria</a>
                             </div>
                             <div ng-show="('@ViewBag.cargoSigla'=='DGT' || '@ViewBag.cargoSigla'=='RVO' || '@ViewBag.cargoSigla'=='DIA')">
                                @Html.Label("Nº da Matéria")
                             </div>
                             @Html.TextBoxFor(model => model.PUB_ID, new { @class = "form-control", ng_model = "pub.PUB_ID", disabled = "disabled" })
                             @Html.ValidationMessageFor(model => model.PUB_ID, null, new { app_validation_msg = "erros", @for = "PUB_ID" })
                         </div>
                         <div class="form-group col-lg-3">
                             @Html.Label("Colecionador")
                             <div ng-if="pub.PUB_ID">
                                @Html.DropDownListFor(model => model.ARE_CONS_ID, new SelectList(@ViewBag.areas, "Value", "Text"), "Selecione", new { id = "colecionadorNome", @class = "form-control", disabled = "disabled", ng_model = "pub.ARE_CONS_ID", ng_change = "lerGg()" })
                             </div>
                             <div ng-if="!pub.PUB_ID">
                                @Html.DropDownListFor(model => model.ARE_CONS_ID, new SelectList(@ViewBag.areas, "Value", "Text"), "Selecione", new { id = "colecionadorNome", @class = "form-control", ng_model = "pub.ARE_CONS_ID", ng_change = "lerGg()" })
                             </div>
                             @Html.ValidationMessageFor(model => model.ARE_CONS_ID, null, new { app_validation_msg = "erros", @for = "ARE_CONS_ID" }) 
                         </div>
                         <div class="form-group col-lg-2">
                             @Html.LabelFor(model => model.PUBLICACAO.TIP_MAT_ID)
                             @Html.DropDownListFor(model => model.PUBLICACAO.TIP_MAT_ID, new SelectList(@ViewBag.tpMateria, "Value", "Text"), "Selecione", new { id = "tpMateria", @class = "form-control", ng_model = "pub.PUBLICACAO.TIP_MAT_ID" })
                             @Html.ValidationMessageFor(model => model.PUBLICACAO.TIP_MAT_ID, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.TIP_MAT_ID" }) 
                         </div>
                         <div class="form-group col-lg-3">
                             <a href="#" data-toggle="tooltip" 
                                 title="Informe [Sim] para usar esta matéria nos informativos indicados nesta tela; ou [Não] para arquivá-la para uso posterior.">
                                 Usar neste informativo?
                             </a>
                             @Html.DropDownListFor(model => model.PUBLICACAO.PUB_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.PUBLICACAO.PUB_ATIVO" })
                             @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_ATIVO, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.PUB_ATIVO" }) 
                         </div>
                         <div class="form-group col-lg-2" ng-show="pub.ARE_CONS_ID!=='2'">
                             @Html.Label("Informativo")
                             @Html.DropDownListFor(model => model.PUBLICACAO_UF, new SelectList(@ViewBag.informativo, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.PUB_UF[0].INF_ANO" })
                             @Html.ValidationMessageFor(model => model.PUBLICACAO_UF, null, new { app_validation_msg = "erros", @for = "INF_ANO" }) 
                         </div>
                     </div>
                     
                     <div class="panel panel-default" ng-show="pub.ARE_CONS_ID=='2'">
                        <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel"></span> Estados</div>
                        <div class="panel-body">
                             <div class="row" ng-repeat="uf in pub.PUB_UF">
                                 <div class="form-group col-lg-5">
                                     @Html.Label("{{$index+1}}º Estado")
                                     @Html.DropDownListFor(model => model.PUBLICACAO_UF, new SelectList(@ViewBag.uf, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.PUB_UF[$index].UF_ID", ng_change = "lerGg()" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_UF, null, new { app_validation_msg = "erros", @for = "UF_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-5">
                                     @Html.Label("Informativo")
                                     @Html.DropDownListFor(model => model.PUBLICACAO, new SelectList(@ViewBag.informativo, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.PUB_UF[$index].INF_ANO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_UF, null, new { app_validation_msg = "erros", @for = "INF_ANO" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="uf.UF_ID && uf.INF_ANO && pub.PUB_UF.length == ($index+1)">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarUf()" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="uf.UF_ID && uf.INF_ANO">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerUf(pub.PUB_UF, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirOrigem()"><span class="glyphicon glyphicon-edit icon-panel"></span> Origem da matéria</div>
                        <div class="panel-body" ng-show="exibir.origem">
                             <div class="row">
                                 <div class="form-group col-lg-4">
                                     @Html.LabelFor(model => model.PUBLICACAO.TIP_ATO_ID)
                                     @Html.DropDownListFor(model => model.PUBLICACAO.TIP_ATO_ID, new SelectList(@ViewBag.tpAto, "Value", "Text"), "Selecione", new { id = "tpAto", @class = "form-control", ng_model = "pub.PUBLICACAO.TIP_ATO_ID" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.TIP_ATO_ID, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.TIP_ATO_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.LabelFor(model => model.PUBLICACAO.PUB_NUMERO_ATO)
                                     @Html.TextBoxFor(model => model.PUBLICACAO.PUB_NUMERO_ATO, new { id = "nrAto", @class = "form-control", ng_model = "pub.PUBLICACAO.PUB_NUMERO_ATO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_NUMERO_ATO, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.PUB_NUMERO_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.LabelFor(model => model.PUBLICACAO.PUB_DATA_ATO)
                                     @Html.TextBox("pub.PUBLICACAO.PUB_DATA_ATO", null, new { @class = "form-control", ng_model = "PUB_DATA_ATO", app_date = "pub.PUBLICACAO.PUB_DATA_ATO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_DATA_ATO, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.PUB_DATA_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-4">
                                     @Html.LabelFor(model => model.PUBLICACAO.ORG_ID)
                                     @Html.DropDownListFor(model => model.PUBLICACAO.ORG_ID, new SelectList(@ViewBag.orgao, "Value", "Text"), "Selecione", new { id = "orgaoId", @class = "form-control", ng_model = "pub.PUBLICACAO.ORG_ID" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.ORG_ID, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.ORG_ID" }) 
                                 </div>
                             </div>
                        </div>
                     </div>

                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirVeiculacao()"><span class="glyphicon glyphicon-edit icon-panel"></span> Veiculação da matéria</div>
                        <div class="panel-body" ng-show="exibir.veiculacao">
                             <div class="row">
                                 <div class="form-group col-lg-4">
                                     @Html.LabelFor(model => model.PUBLICACAO.TVI_ID)
                                     @Html.DropDownListFor(model => model.PUBLICACAO.TVI_ID, new SelectList(@ViewBag.veiculo, "Value", "Text"), "Selecione", new { id = "veiculoId", @class = "form-control", ng_model = "pub.PUBLICACAO.TVI_ID" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.TVI_ID, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.TVI_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-4">
                                     @Html.LabelFor(model => model.PUBLICACAO.PUB_DATA_PUB_ATO)
                                     @Html.TextBoxFor(model => model.PUBLICACAO.PUB_DATA_PUB_ATO, new { @class = "form-control", ng_model = "PUB_DATA_PUB_ATO", app_date = "pub.PUBLICACAO.PUB_DATA_PUB_ATO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_DATA_PUB_ATO, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.PUB_DATA_PUB_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-4">
                                     @Html.LabelFor(model => model.PUBLICACAO.PUB_COMPL_VEICULO)
                                     @Html.TextBoxFor(model => model.PUBLICACAO.PUB_COMPL_VEICULO, new { @class = "form-control", ng_model = "pub.PUBLICACAO.PUB_COMPL_VEICULO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_COMPL_VEICULO, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.PUB_COMPL_VEICULO" }) 
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirRevogacao()"><span class="glyphicon glyphicon-edit icon-panel"></span> Ato revogado pelo registro acima</div>
                        <div class="panel-body" ng-show="exibir.revogacao">
                             <div class="row" ng-repeat="revogacao in pub.TMP_REVOGACAO" ng-show="pub.TMP_REVOGACAO">
                               <div class="form-group" ng-show="pub.TMP_REVOGACAO[$index].PAR_TIPO=='R'">
                                 <div class="form-group col-lg-3">
                                     @Html.Label("{{$index+1}}ª Tipo Ato")
                                     @Html.DropDownListFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new SelectList(@ViewBag.tpAto, "Value", "Text"), "Selecione", new { id = "tpAtoRevogado{{$index+1}}", @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].TIP_ATO_ID", ng_blur="BuscarAtoRevogado($index)" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "TIP_ATO_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.Label("Data do Ato")
                                     <div class="input-group date">
                                        <input type="text" class="form-control datepicker" maxlength="10" ng-model="PUB_DATA_ATO_branco" app-date="revogacao.PUB_DATA_ATO" ng-change="BuscarAtoRevogado($index)" ng-blur="BuscarAtoRevogado($index)" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                     </div>
                                     <div app-validation-msg="erros" for="PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO[{{$index}}].PUB_DATA_ATO"></div>
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.Label("Nº do Ato")
                                     @Html.TextBoxFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].PUB_NUMERO_ATO", ng_blur="BuscarAtoRevogado($index)" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "PUB_NUMERO_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-3">
                                     @Html.Label("Órgão")
                                     @Html.DropDownListFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new SelectList(@ViewBag.orgao, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].ORG_ID" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "ORG_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-10">
                                     @Html.Label("Revogação ocorrida")
                                     @Html.TextAreaFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].PUB_ALTERACAO_ATO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "PUB_ALTERACAO_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="revogacao.TIP_ATO_ID && revogacao.PUB_NUMERO_ATO && revogacao.PAR_TIPO=='R'">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarRevogacaoAlteracao('R')" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="revogacao.TIP_ATO_ID">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerRevogacaoAlteracao(revogacao, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                               </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirRevigoracao()"><span class="glyphicon glyphicon-edit icon-panel"></span> Ato revigorado pelo registro acima</div>
                        <div class="panel-body" ng-show="exibir.revigoracao">
                             <div class="row" ng-repeat="revigoracao in pub.TMP_REVOGACAO" ng-show="pub.TMP_REVOGACAO">
                               <div class="form-group" ng-show="pub.TMP_REVOGACAO[$index].PAR_TIPO=='V'">
                                 <div class="form-group col-lg-3">
                                     @Html.Label("{{$index+1}}ª Tipo Ato")
                                     @Html.DropDownListFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new SelectList(@ViewBag.tpAto, "Value", "Text"), "Selecione", new { id = "tpAtoRevigorado{{$index+1}}", @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].TIP_ATO_ID", ng_blur="BuscarAtoRevogado($index)" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "TIP_ATO_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.Label("Data do Ato")
                                     <div class="input-group date">
                                        <input type="text" class="form-control datepicker" maxlength="10" ng-model="PUB_DATA_ATO_branco" app-date="revigoracao.PUB_DATA_ATO" ng-change="BuscarAtoRevogado($index)" ng-blur="BuscarAtoRevogado($index)" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                     </div>
                                     <div app-validation-msg="erros" for="PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO[{{$index}}].PUB_DATA_ATO"></div>
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.Label("Nº do Ato")
                                     @Html.TextBoxFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].PUB_NUMERO_ATO", ng_blur="BuscarAtoRevogado($index)" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "PUB_NUMERO_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-3">
                                     @Html.Label("Órgão")
                                     @Html.DropDownListFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new SelectList(@ViewBag.orgao, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].ORG_ID" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "ORG_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-10">
                                     @Html.Label("Revigoração ocorrida")
                                     @Html.TextAreaFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].PUB_ALTERACAO_ATO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "PUB_ALTERACAO_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="revigoracao.TIP_ATO_ID && revigoracao.PUB_NUMERO_ATO && revigoracao.PAR_TIPO=='V'">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarRevogacaoAlteracao('V')" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="revigoracao.TIP_ATO_ID">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerRevogacaoAlteracao(revigoracao, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                               </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirAlteracao()"><span class="glyphicon glyphicon-edit icon-panel"></span> Ato alterado pelo registro acima</div>
                        <div class="panel-body" ng-show="exibir.alteracao">
                             <div class="row" ng-repeat="alteracao in pub.TMP_REVOGACAO" ng-show="pub.TMP_REVOGACAO">
                               <div class="form-group" ng-show="pub.TMP_REVOGACAO[$index].PAR_TIPO=='A'">
                                 <div class="form-group col-lg-3">
                                     @Html.Label("{{$index+1}}ª Tipo Ato")
                                     @Html.DropDownListFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new SelectList(@ViewBag.tpAto, "Value", "Text"), "Selecione", new { id = "tpAtoAlterado{{$index+1}}", @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].TIP_ATO_ID", ng_blur="BuscarAtoRevogado($index)" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "TIP_ATO_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.Label("Data do Ato")
                                     <div class="input-group date">
                                        <input type="text" class="form-control datepicker" maxlength="10" ng-model="PUB_DATA_ATO_branco" app-date="alteracao.PUB_DATA_ATO" ng-change="BuscarAtoRevogado($index)" ng-blur="BuscarAtoRevogado($index)" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                     </div>
                                     <div app-validation-msg="erros" for="PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO[{{$index}}].PUB_DATA_ATO"></div>
                                 </div>
                                 <div class="form-group col-lg-2">
                                     @Html.Label("Nº do Ato")
                                     @Html.TextBoxFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].PUB_NUMERO_ATO", ng_blur="BuscarAtoRevogado($index)" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "PUB_NUMERO_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-3">
                                     @Html.Label("Órgão")
                                     @Html.DropDownListFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new SelectList(@ViewBag.orgao, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].ORG_ID" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "ORG_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-10">
                                     @Html.Label("Alteração ocorrida")
                                     @Html.TextAreaFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, new { @class = "form-control", ng_model = "pub.TMP_REVOGACAO[$index].PUB_ALTERACAO_ATO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUBLICACAO_ALTERACAO_REVOGACAO, null, new { app_validation_msg = "erros", @for = "PUB_ALTERACAO_ATO" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="alteracao.TIP_ATO_ID && alteracao.PUB_NUMERO_ATO &&  alteracao.PAR_TIPO=='A'">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarRevogacaoAlteracao('A')" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="alteracao.TIP_ATO_ID">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerRevogacaoAlteracao(alteracao, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                               </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirTitulacao()"><span class="glyphicon glyphicon-edit icon-panel"></span> Titulações</div>
                        <div class="panel-body" ng-show="exibir.titulacao" data-ng-init="lerGg()">
                             <div class="row" ng-repeat="titulacao in pub.TMP_TITULACAO" ng-show="pub.TMP_TITULACAO">  
                                 <div class="form-group col-lg-3">
                                     @Html.Label("{{$index+1}}º Grande grupo")
                                     <select id="ggId" ng-options=" item.TIT_ID as item.TIT_DESCRICAO for item in titulacao.gg" class="form-control" ng-model = "pub.TMP_TITULACAO[$index].TIT_ID" ng-change = "lerVerbetes(titulacao, $index)">
                                        <option value="">Selecione</option>
                                     </select>
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_TITULACAO, null, new { app_validation_msg = "erros", @for = "TIT_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-3" ng-show="titulacao.verbetes">
                                     @Html.Label("Verbetes")
                                     <select id="vbId" ng-options=" item.TIT_ID as item.TIT_DESCRICAO for item in titulacao.verbetes" class="form-control" ng-model = "pub.TMP_TITULACAO[$index].TIT_ID_VERBETE" ng-change = "lerSubverbetes(titulacao, $index)">
                                        <option value="">Selecione</option>
                                     </select>
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_TITULACAO, null, new { app_validation_msg = "erros", @for = "TIT_ID_VERBETE" }) 
                                 </div>
                                 <div class="form-group col-lg-3" ng-show="titulacao.subverbetes">
                                     @Html.Label("Subverbetes")
                                     <select id="svbId" ng-options=" item.TIT_ID as item.TIT_DESCRICAO for item in titulacao.subverbetes" class="form-control" ng-model = "pub.TMP_TITULACAO[$index].TIT_ID_SUBVERBETE" ng-change ="lerNomeSubverbete(titulacao, $index)">
                                        <option value="">Selecione</option>
                                     </select>
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_TITULACAO, null, new { app_validation_msg = "erros", @for = "TIT_ID_SUBVERBETE" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="titulacao.subverbetes && pub.TMP_TITULACAO[$index].TIT_ID_SUBVERBETE">
                                     @Html.Label("Principal")
                                     <input type="radio" class="form-control" ng-model="$parent.PTI_PRINCIPAL" ng-value="titulacao" ng-click="marcouPrincipal(titulacao)">
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="pub.TMP_TITULACAO.length == ($index + 1) && pub.TMP_TITULACAO[$index].TIT_ID_SUBVERBETE && titulacao.subverbetes">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarTitulacao(titulacao, $index)" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="titulacao.TIT_ID_SUBVERBETE && titulacao.subverbetes">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerTitulacao(titulacao, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                             </div>                     
                             <div class="row">
                                 <div class="form-group col-lg-4">
                                     @Html.LabelFor(model => model.CAP_ID)
                                     @Html.DropDownListFor(model => model.CAP_ID, new SelectList(@ViewBag.capital, "Value", "Text"), "Selecione", new { id = "Capital", @class = "form-control", ng_model = "pub.CAP_ID" })
                                     @Html.ValidationMessageFor(model => model.CAP_ID, null, new { app_validation_msg = "erros", @for = "CAP_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-8">
                                     @Html.LabelFor(model => model.PUB_EXPRESSAO)
                                     @Html.TextBoxFor(model => model.PUB_EXPRESSAO, new { id = "expressao", @class = "form-control", ng_model = "pub.PUB_EXPRESSAO" })
                                     @Html.ValidationMessageFor(model => model.PUB_EXPRESSAO, null, new { app_validation_msg = "erros", @for = "PUB_EXPRESSAO" }) 
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="Panel with panel-success class">
                        <div class="panel-heading bold head-panel" ng-click="exibirIntegra()"><span class="glyphicon glyphicon-edit icon-panel"></span> M A T É R I A  *  A  *  S E R  *  P U B L I C A D A  *  N O  *  P O R T A L  *  (editar aqui)</div>
                        <div class="panel-body" ng-if="exibir.integra">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.LabelFor(model => model.PUBLICACAO.PUB_CONTEUDO)
                                     @Html.HiddenFor(model => model.PUBLICACAO.PUB_CONTEUDO, new { @class = "form-control", ng_model = "pub.PUBLICACAO.PUB_CONTEUDO", app_rich_editor = "Integra", ng_blur="pub.salvouAuto=false" })
                                     <div>
                                        @Html.Raw(@ViewBag.PUB_CONTEUDO)
                                     </div>
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_CONTEUDO, null, new { app_validation_msg = "erros", @for = "PUB_CONTEUDO" }) 
                                 </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=PUB_CONTEUDO&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=PUB_CONTEUDO&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=PUB_CONTEUDO&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>

                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirManchetePt()"><span class="glyphicon glyphicon-edit icon-panel"></span> MANCHETE DO PORTAL</div>
                        <div class="panel-body" ng-if="exibir.manchetePt">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.LabelFor(model => model.PUB_MANCHETE_PORTAL)
                                     @Html.HiddenFor(model => model.PUB_MANCHETE_PORTAL, new { @class = "form-control", ng_model = "pub.PUB_MANCHETE_PORTAL", app_rich_editor = "ManchetePt", ng_blur="pub.salvouAuto=false" })
                                     <div>
                                         @Html.Raw(@ViewBag.PUB_MANCHETE_PORTAL)
                                     </div>
                                     @Html.ValidationMessageFor(model => model.PUB_MANCHETE_PORTAL, null, new { app_validation_msg = "erros", @for = "PUB_MANCHETE_PORTAL" }) 
                                </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=PUB_MANCHETE_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=PUB_MANCHETE_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=PUB_MANCHETE_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirLocalizacao()"><span class="glyphicon glyphicon-edit icon-panel"></span> Localização no portal e news</div>
                        <div class="panel-body" ng-show="exibir.localizacao">
                             <div class="row">
                                 <div class="form-group col-lg-6">
                                    @* portal *@
                                    @Html.LabelFor(model => model.PUBLICACAO.LBL_ID)
                                    @Html.DropDownListFor(model => model.PUBLICACAO.LBL_ID, new SelectList(@ViewBag.label, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.PUBLICACAO.LBL_ID" })
                                    @Html.ValidationMessageFor(model => model.PUBLICACAO.LBL_ID, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.LBL_ID" }) 
                                 </div>
                                 <div class="form-group col-lg-6">
                                    @* news *@
                                    @Html.LabelFor(model => model.PUBLICACAO.SEC_ID)
                                    @Html.DropDownListFor(model => model.PUBLICACAO.SEC_ID, new SelectList(@ViewBag.secao, "Value", "Text"), "Selecione", new { @class = "form-control", ng_model = "pub.PUBLICACAO.SEC_ID" })
                                    @Html.ValidationMessageFor(model => model.PUBLICACAO.SEC_ID, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.SEC_ID" }) 
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                    @* news *@
                                    @Html.LabelFor(model => model.PUBLICACAO.PUB_DESCRICAO_NEWS)
                                    @Html.TextBoxFor(model => model.PUBLICACAO.PUB_DESCRICAO_NEWS, new { @class = "form-control", ng_model = "pub.PUBLICACAO.PUB_DESCRICAO_NEWS" })
                                    @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_DESCRICAO_NEWS, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.PUB_DESCRICAO_NEWS" }) 
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirPalavraChave()"><span class="glyphicon glyphicon-edit icon-panel"></span> Palavras chave</div>
                        <div class="panel-body" ng-show="exibir.palavraChave">
                             <div class="row" ng-repeat="palavraChave in pub.TMP_PALAVRA_CHAVE" ng-show="pub.TMP_PALAVRA_CHAVE">
                                 <div class="form-group col-lg-10">
                                     @Html.Label("{{$index+1}}ª Palavra chave")
                                     @Html.TextBoxFor(model => model.PUBLICACAO_PALAVRA_CHAVE, new { @class = "form-control", ng_model = "pub.TMP_PALAVRA_CHAVE[$index].PPC_TEXTO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_PALAVRA_CHAVE, null, new { app_validation_msg = "erros", @for = "PPC_TEXTO" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="palavraChave.PPC_TEXTO && pub.TMP_PALAVRA_CHAVE.length == ($index+1)">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarPalavraChave()" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="palavraChave.PPC_TEXTO">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerPalavraChave(palavraChave, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirEmentaPt()"><span class="glyphicon glyphicon-edit icon-panel"></span> EMENTA DO PORTAL</div>
                        <div class="panel-body" ng-if="exibir.ementaPt">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.LabelFor(model => model.PUB_EMENTA_PORTAL)
                                     @Html.HiddenFor(model => model.PUB_EMENTA_PORTAL, new { @class = "form-control", ng_model = "pub.PUB_EMENTA_PORTAL", app_rich_editor = "EmentaPt", ng_blur="pub.salvouAuto=false" })
                                     <div>
                                         @Html.Raw(@ViewBag.PUB_EMENTA_PORTAL)
                                     </div>
                                     @Html.ValidationMessageFor(model => model.PUB_EMENTA_PORTAL, null, new { app_validation_msg = "erros", @for = "PUB_EMENTA_PORTAL" }) 
                                 </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=PUB_EMENTA_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=PUB_EMENTA_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=PUB_EMENTA_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="Panel with panel-danger class">
                        <div class="panel-heading bold head-panel" ng-click="exibirMateriaPortal()"><span class="glyphicon glyphicon-edit icon-panel"></span> M A T É R I A  *  A  *  S E R  *  P U B L I C A D A  *  N O  *  P O R T A L  *  (não editar aqui)</div>
                        <div class="panel-body" ng-if="exibir.materiaPortal">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.Label("Matéria a ser publicada no Portal")
                                     @Html.HiddenFor(model => model.PUBLICAR_PORTAL, new { @class = "form-control", ng_model = "pub.PUBLICAR_PORTAL", app_rich_editor = "Publicar" })
                                     <div>
                                         @Html.Raw(@ViewBag.Publicar)
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=PUBLICAR_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=PUBLICAR_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=PUBLICAR_PORTAL&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>

                     <div class="panel panel-default" ng-show="(pub.PUBLICACAO.PUB_CONTEUDO.length > 0)">
                        <div class="panel-heading bold head-panel" ng-click="exibirPublicarPortalNews()"><span class="glyphicon glyphicon-edit icon-panel"></span> P U B L I C A R  *  NO  *  PORTAL  *  NEWS  *  E  *  EMENTA</div>
                        <div class="panel-body" ng-show="exibir.publicarPortalNews">
                             <div class="row">
                                 <div class="form-group col-lg-4">
                                    @Html.Label("Publicado no portal em:") {{pub.publicadoWeb}}
                                    <br><span class="float-left"><button id="btWeb" type="button" ng-click="publicarWEB()" class="btn btn-primary" ng-disabled="pub.PUB_CONTEUDO.length==0 || pub.PUB_MANCHETE.length==0">Portal: íntegra e manchete</button></span>
                                 </div>
                                 <div class="form-group col-lg-4">
                                    @Html.Label("Publicado na NEWS em:") {{pub.publicadoNews}}
                                    <br><span class="float-left"><button id="btNews" type="button" ng-click="publicarNEWS()" class="btn btn-primary" ng-disabled="pub.PUB_CONTEUDO.length==0 || pub.PUB_MANCHETE.length==0 || pub.PUBLICACAO.PUB_DESCRICAO_NEWS.length==0">Publicar na NEWS</button></span>
                                 </div>
                                 <div class="form-group col-lg-4">
                                    @Html.Label("Ementa publicada em:") {{pub.publicadoEmenta}}
                                    <br><span class="float-left"><button id="btEmenta" type="button" ng-click="publicarEmenta()" class="btn btn-primary" ng-disabled="pub.PUB_CONTEUDO.length==0 || pub.PUB_MANCHETE.length==0 || pub.PUB_EMENTA.length==0">Publicar Ementa</button></span>
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="Panel with panel-success class">
                        <div class="panel-heading bold head-panel" ng-click="exibirImpresso()"><span class="glyphicon glyphicon-edit icon-panel"></span> M A T E R I A  *  A  *  S E R  *  I M P R E S S A  *  (editar aqui)</div>
                        <div class="panel-body" ng-if="exibir.impresso">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.LabelFor(model => model.PUBLICACAO.PUB_CONTEUDO_RESENHA)
                                     @Html.HiddenFor(model => model.PUBLICACAO.PUB_CONTEUDO_RESENHA, new { @class = "form-control", ng_model = "pub.PUBLICACAO.PUB_CONTEUDO_RESENHA", app_rich_editor = "Resenha", ng_blur="pub.salvouAuto=false" })
                                     <div>
                                         @Html.Raw(@ViewBag.PUB_CONTEUDO_RESENHA)
                                     </div>
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_CONTEUDO_RESENHA, null, new { app_validation_msg = "erros", @for = "PUB_CONTEUDO_RESENHA" }) 
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="form-group col-lg-4">
                                    <br><span class="float-left"><button type="button" ng-click="copiaIntegra()" class="btn btn-primary" ng-disabled="pub.PUBLICACAO.PUB_CONTEUDO.length==0">Copiar a matéria do Portal</button></span>
                                 </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=PUB_CONTEUDO_RESENHA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=PUB_CONTEUDO_RESENHA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=PUB_CONTEUDO_RESENHA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>

                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirManchete()"><span class="glyphicon glyphicon-edit icon-panel"></span> MANCHETE DO IMPRESSO</div>
                        <div class="panel-body" ng-if="exibir.manchete">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.LabelFor(model => model.PUB_MANCHETE)
                                     @Html.HiddenFor(model => model.PUB_MANCHETE, new { @class = "form-control", ng_model = "pub.PUB_MANCHETE", app_rich_editor = "Manchete", ng_blur="pub.salvouAuto=false" })
                                     <div>
                                         @Html.Raw(@ViewBag.PUB_MANCHETE)
                                     </div>
                                     @Html.ValidationMessageFor(model => model.PUB_MANCHETE, null, new { app_validation_msg = "erros", @for = "PUB_MANCHETE" }) 
                                </div>
                             </div>
                             <div class="row">
                                 <div class="form-group col-lg-4">
                                    <br><span class="float-left"><button type="button" ng-click="copiaManchete()" class="btn btn-primary" ng-disabled="pub.PUBLICACAO.PUB_MANCHETE_PORTAL.length==0">Copiar a manchete do Portal</button></span>
                                 </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=PUB_MANCHETE&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=PUB_MANCHETE&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=PUB_MANCHETE&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirEmenta()"><span class="glyphicon glyphicon-edit icon-panel"></span> EMENTA DO IMPRESSO</div>
                        <div class="panel-body" ng-if="exibir.ementa">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.LabelFor(model => model.PUB_EMENTA)
                                     @Html.HiddenFor(model => model.PUB_EMENTA, new { @class = "form-control", ng_model = "pub.PUB_EMENTA", app_rich_editor = "Ementa", ng_blur="pub.salvouAuto=false" })
                                     <div>
                                         @Html.Raw(@ViewBag.PUB_EMENTA)
                                     </div>
                                     @Html.ValidationMessageFor(model => model.PUB_EMENTA, null, new { app_validation_msg = "erros", @for = "PUB_EMENTA" }) 
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="form-group col-lg-4">
                                    <br><span class="float-left"><button type="button" ng-click="copiaEmenta()" class="btn btn-primary" ng-disabled="pub.PUBLICACAO.PUB_EMENTA_PORTAL.length==0">Copiar a ementa do Portal</button></span>
                                 </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=PUB_EMENTA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=PUB_EMENTA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=PUB_EMENTA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirRemissao()"><span class="glyphicon glyphicon-edit icon-panel"></span> Remissões</div>
                        <div class="panel-body" ng-show="exibir.remissao">
                             <div class="row" ng-repeat="remissao in pub.TMP_REMISSAO" ng-show="pub.TMP_REMISSAO">
                                 <div class="form-group col-lg-10">
                                     @Html.Label("{{$index+1}}ª Remissão")
                                     @Html.TextAreaFor(model => model.PUBLICACAO_REMISSAO, new { @class = "form-control", ng_model = "pub.TMP_REMISSAO[$index].PRE_REMISSAO", ng_blur="atualizarTextos()" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_REMISSAO, null, new { app_validation_msg = "erros", @for = "PRE_REMISSAO" }) 
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_REMISSAO, null, new { app_validation_msg = "erros", @for = "PRE_NUMERO" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="remissao.PRE_REMISSAO && pub.TMP_REMISSAO.length == ($index+1)">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarRemissao(remissao)" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="remissao.PRE_REMISSAO">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerRemissao(remissao, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="Panel with panel-danger class">
                        <div class="panel-heading bold head-panel" ng-click="exibirMateriaImpressa()"><span class="glyphicon glyphicon-edit icon-panel"></span> M A T E R I A  *  A  *  S E R  *  I M P R E S S A  *  (não editar aqui)</div>
                        <div class="panel-body" ng-if="exibir.materiaImpressa">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.Label("Texto com as remissões")
                                     @Html.HiddenFor(model => model.MATERIA_IMPRESSA, new { @class = "form-control", ng_model = "pub.MATERIA_IMPRESSA", app_rich_editor = "Remissao" })
                                     <div>
                                         @Html.Raw(@ViewBag.PRE_REMISSAO)
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em PDF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=PDF&campo=MATERIA_IMPRESSA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">PDF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em RTF")

                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=RTF&campo=MATERIA_IMPRESSA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">RTF</span></a>
                                    </span>

                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.Label("Salvar em HTML")
                                    
                                    <br><span class="float-left">
                                    <a href="javascript:void(0)" app-post="@Url.Action("salvarEditor")?extensao=HTML&campo=MATERIA_IMPRESSA&pub_id={{pub.PUB_ID}}&area_id={{pub.ARE_CONS_ID}}" title="Download" class="blue"><span class="glyphicon glyphicon-download-alt">HTML</span></a>
                                    </span>

                                </div>
                             </div>
                        </div>
                     </div>

@*                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirRemissivo()"><span class="glyphicon glyphicon-edit icon-panel"></span> Remissivos</div>
                        <div class="panel-body" ng-show="exibir.remissivo">
                             <div class="row" ng-repeat="remissivo in pub.TMP_REMISSIVO" ng-show="pub.TMP_REMISSIVO">
                                 <div class="form-group col-lg-10">
                                     @Html.Label("{{$index+1}}º Remissivo")
                                     @Html.TextBoxFor(model => model.PUBLICACAO_REMISSIVO, new { @class = "form-control", ng_model = "pub.TMP_REMISSIVO[$index].PRE_REMISSIVO" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO_REMISSIVO, null, new { app_validation_msg = "erros", @for = "PRE_REMISSIVO" }) 
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="remissivo.PRE_REMISSIVO && pub.TMP_REMISSIVO.length == ($index+1)">
                                     @Html.Label("mais")
                                     <a href="javascript:void(0)" ng-click="adicionarRemissivo(remissivo)" title="Incluir">
                                        <span class="glyphicon glyphicon-plus blue"></span>
                                     </a>
                                 </div>
                                 <div class="form-group col-lg-1" ng-show="remissivo.PRE_REMISSIVO">
                                     @Html.Label("del")
                                     <a href="javascript:void(0)" ng-click="removerRemissivo(remissivo, $index)" title="Excluir">
                                        <br><span class="glyphicon glyphicon-trash red"></span>
                                     </a>
                                 </div>
                             </div>
                        </div>
                     </div>
                     *@
                     <div class="panel panel-default">
                        <div class="panel-heading bold head-panel" ng-click="exibirObs()"><span class="glyphicon glyphicon-edit icon-panel"></span> Observações</div>
                        <div class="panel-body" ng-show="exibir.obs">
                             <div class="row">
                                 <div class="form-group col-lg-12">
                                     @Html.LabelFor(model => model.PUBLICACAO.PUB_OBS)
                                     @Html.TextAreaFor(model => model.PUBLICACAO.PUB_OBS, new { @class = "form-control", ng_model = "pub.PUBLICACAO.PUB_OBS" })
                                     @Html.ValidationMessageFor(model => model.PUBLICACAO.PUB_OBS, null, new { app_validation_msg = "erros", @for = "PUBLICACAO.PUB_OBS" }) 
                                 </div>
                             </div>
                        </div>
                     </div>
                 </div>
                 }
            </div>
            <div class="panel-footer">
                <div ng-show="(pub.PUBLICACAO.PUB_CONTEUDO || pub.PUBLICACAO.PUB_CONTEUDO_RESENHA) && pub.ARE_CONS_ID">
                    <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left blue"></span>Fechar</button>
                    <button type="button" id="btSalvar" class="btn btn-default" ng-click="salvarPublicacaoAreaConsultoria(false, '@ViewBag.lIncluir')" ><span class="glyphicon glyphicon-floppy-save blue"></span>Salvar</button>
                </div>
                <div ng-show="!((pub.PUBLICACAO.PUB_CONTEUDO || pub.PUBLICACAO.PUB_CONTEUDO_RESENHA) && pub.ARE_CONS_ID)">
                    <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left blue"></span>Fechar</button>
                </div>
            </div> 
    </div>
</div>