@using COAD.SEGURANCA.Extensions
@using COAD.PORTAL.Extensions

@{
    HttpCookie myCookie = HttpContext.Current.Request.Cookies["InfClientes"];
    string userName = "";
    if (myCookie != null)
    {
        userName = myCookie.Values["UserName"];
    }
}
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <script type="text/javascript">
        // para obter o contexto da aplicação
        var contextPath = "@System.Web.HttpContext.Current.Request.ApplicationPath";
    </script>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/themes/base/simple-sidebar.css")
    @Styles.Render("~/Content/themes/base/bootstrap-theme.css")
    @Styles.Render("~/Content/themes/base/default.css")
    @Styles.Render("~/Content/themes/base/bootstrap.css")
    @Styles.Render("~/Content/themes/base/jquery.custom-scrollbar.css")
    @Styles.Render("~/Content/themes/fonts/font-awesome.min.css")
    @Styles.Render("~/Content/themes/base/coadcorp-boostrap.css")

    <script src="@Url.Content("~/Scripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.js")" type="text/javascript"></script>

    @Scripts.Render("~/Scripts/jquery.custom-scrollbar.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/bootstrap.min.js")

    @Scripts.Render("~/Scripts/util.js")
    @Scripts.Render("~/Scripts/Angular/angular.min.js")
    @Scripts.Render("~/Scripts/Angular/angular_modules/service_module.js")
    @Scripts.Render("~/Scripts/Angular/angular_modules/directives_module.js")
    @Scripts.Render("~/Scripts/default.js")

    <!-- compatibilidades com ie antigos-->
    @Scripts.Render("~/Scripts/compatibilidades/respond.js")
    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script>
        $(document).ready(function () {
            $('.showLoaderImage').click(function () {
                //$(".showLoaderImage").hide();
                showAjaxLoader();
            });
        });
    </script>
</head>
<body class="body">
    <div>
        <header>
            <div class="menu-header">
                <nav class="navbar navbar-inverse navbar-fixed-top menu-overrides" role="navigation">

                    <div class="nav navbar-left top-nav">
                        @*<button class="btn btn-info" id="button-menu"><span id="icon-menu2" class="glyphicon glyphicon-th-list"></span></button>*@
                    </div>
                    @*<div class="navbar-header">                 
                    <a>CoadCorp</a>
                </div>  *@
                    <div class="navbar-header">
                        <a href="/Tributario/Index" class="active  logo-mobile mobile"><span class="sr-only"></span><span class="glyphicon glyphicon-globe"></span>COAD</a>
                        <button class="navbar-toggle collapsed" id="mobile-button-menu" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button>
                        <button class="btn btn-info" id="button-menu" data-toggle="tooltip" data-placement="bottom"
                            title="Menu">
                            <span id="icon-menu" class="glyphicon glyphicon-th-list"></span>
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav no-mobile">
                            <li>
                                <a href="#" class="active">
                                <span class="sr-only"></span>
                                <span class="glyphicon glyphicon-globe">
                                </span>COAD</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right top-nav">
                            <!-- Area de notificações (Por hora, apenas para representante. -->
                            @Html.Partial("Partials/_NotificacaoPartial")
                            @Html.MostraLoginPortal(@userName)
                        </ul>
                        <ul class="nav navbar-nav navbar-right mobile">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#teste">Menu 
                                   <span class="caret"></span>
                                </a>
                                <ul class="collapse" id="teste">
                                    @Html.MostraMenu("-menu-superior")
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <ul class="nav navbar-right top-nav no-mobile">
                    </ul>
                    <!--- Menu dados do usuário -->
                    @*@Html.MostraSistemas()*@
                    <!--- Informa se é Homologação -->
                    @*@Html.MostraImgHomolog("COADCORP")*@
                    <!--- Menu dados do usuário -->
                    @*@Html.MostraLogin()*@

                    <!--- Menu dados do usuário -->

                </nav>
                <!-- Fim do menu navbar do boostrap -->
            </div>
        </header>
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper" class="no-mobile">
                <ul class="sidebar-nav">
                    <li id="menu-lateral" class="sidebar-brand">

                    </li>
                        @Html.MostraMenu("-menu-lateral")
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid limit-content">
                    <div class="row body">
                        <div id="breadcrumbs">
                            @RenderSection("breadcrumbs", false)
                        </div>
                    </div>
                    <div class="row body">
                        @RenderBody()
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="footer" style="background-color: #3a7198;">
                <p style="color: white;">&copy; 2015 Coad</p>
            </div>
        </div>
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {

                if ($("#wrapper").hasClass("toggled")) {

                    $("#button-menu").removeClass("btn-info");
                    $("#button-menu").addClass("btn-primary");
                }
                else {

                    $("#button-menu").addClass("btn-info");
                    $("#button-menu").removeClass("btn-primary");
                }
                $("#button-menu").click(function (e) {
                    e.preventDefault();

                    $("#button-menu").toggleClass("btn-info");
                    $("#button-menu").toggleClass("btn-primary");
                    $("#wrapper").toggleClass("toggled");
                });

                $(".menu-sempre-visivel").click(function () {

                    alert("Implementar");
                });
            });
        </script>
    </div>
</body>


</html>
