@model  COAD.COADGED.Model.DTO.ColaboradorDTO

@using Coad.GenericCrud.Extensions

@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">Colaboradores</li>
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/colaborador.js")

<form>
    <div ng-app="appModule">
        <div class="panel panel-default" ng-controller="ColaboradorController" data-ng-init="read(@ViewBag.colaboradorId)">
            <div app-message></div>
            <div class="panel-heading bold head-panel">
                <span class="glyphicon glyphicon-edit icon-panel"></span> Colaborador
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Opções <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="javascript:void(0)" title="Salvar" ng-click="salvarColaborador()" class="blue">Salvar</a>
                            </li>
                            <li><a href="javascript:void(0)" title="Excluir" ng-click="Excluir()" ng-show="cliente.CLI_ID>0">Excluir</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)" onclick="window.location = '@Url.Action("Index")'">Fechar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-lg-1">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.COL_ID, new { @class = "form-control", ng_model = "colaborador.COL_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.COL_ID, null, new { app_validation_msg = "erros", @for = "COL_ID" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.Label("Login/COADCORP")
                        @Html.TextBoxFor(model => model.USU_LOGIN, new { @class = "form-control", ng_model = "colaborador.USU_LOGIN", ng_blur = "checaUsuario()" })
                        @Html.ValidationMessageFor(model => model.USU_LOGIN, null, new { app_validation_msg = "erros", @for = "USU_LOGIN" })
                    </div>
                    <div class="form-group col-lg-3">
                        @Html.LabelFor(model => model.COL_NOME)
                        @Html.TextBoxFor(model => model.COL_NOME, new { @class = "form-control", ng_model = "colaborador.COL_NOME" })
                        @Html.ValidationMessageFor(model => model.COL_NOME, null, new { app_validation_msg = "erros", @for = "COL_NOME" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.CRG_ID)
                        @Html.DropDownListFor(model => model.CRG_ID, new SelectList(@ViewBag.cargos, "Value", "Text"), null, new { @class = "form-control", ng_model = "colaborador.CRG_ID" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.ARE_CONS_ID)
                        @Html.DropDownListFor(model => model.ARE_CONS_ID, new SelectList(@ViewBag.colecionador, "Value", "Text"), null, new { @class = "form-control", ng_model = "colaborador.ARE_CONS_ID" })
                    </div>

                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.COL_ATIVO)
                        @Html.DropDownListFor(model => model.COL_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), null, new { @class = "form-control", ng_model = "colaborador.COL_ATIVO" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left blue"></span>Fechar</button>
                <button type="button" class="btn btn-default" ng-click="salvarColaborador()"><span class="glyphicon glyphicon-floppy-save blue"></span>Salvar</button>
            </div>
        </div>
    </div>
</form>
