@model  COAD.COADGED.Model.DTO.VeiculoDTO
@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions
    @section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("DashBoard","index","Home")</li>
        <li>@Html.ActionLink("Gerenciar Veiculos Publicadores","index","Veiculos")</li>
        <li class="active">Detalhes do Veiculo Publicador</li>         
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/veiculo.js")
<div class="form-lg padding" ng-app="appModule">

    <div class="panel panel-default" ng-controller="VeiculoController" data-ng-init="read(@ViewBag.veiculoId)">
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-search icon-panel"></span> Detalhes do Veiculo Publicador</div>

            <div class="panel-body">  
                <div app-message></div>               
                <div class="row">
                    <div class="form-group col-lg-1">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.TVI_ID,  new {@class = "form-control", ng_model = "veiculo.TVI_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.TVI_DESCRICAO, null, new { app_validation_msg = "erros", @for = "TVI_ID" }) 
                    </div>
                    <div class="form-group col-lg-9">
                        @Html.LabelFor(model => model.TVI_DESCRICAO)
                        @Html.TextBoxFor(model => model.TVI_DESCRICAO, new {@class = "form-control", ng_model = "veiculo.TVI_DESCRICAO", disabled = "disabled"})                 
                    </div>                    
                     <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.PRD_ID)
                        @Html.DropDownListFor(model => model.PRD_ID, new SelectList(@ViewBag.periodo, "Value", "Text"), null ,new {@class = "form-control", ng_model = "veiculo.PRD_ID", disabled = "disabled" })
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.TVI_ATIVO)
                        @Html.DropDownListFor(model => model.TVI_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), null ,new {@class = "form-control", ng_model = "veiculo.TVI_ATIVO", disabled = "disabled" })
                    </div>                    
                </div>
            </div>
            
            <div class="panel-footer">
                <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default">Voltar</button>
            </div>
    </div>

</div>
