@model COAD.SEGURANCA.Model.ItemMenuModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs {

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "Home")</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@using (Html.BeginForm())
{

   <div class="from panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        @Html.ValidationSummary(false)
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.HiddenFor(model => model.ITM_ID)
                    @Html.HiddenFor(model => model.ITM_DESCRICAO)
                    @Html.HiddenFor(model => model.ITM_NOME_ARQUIVO)
                    @Html.HiddenFor(model => model.SIS_ID)
                    @Html.HiddenFor(model => model.ITM_NODE_ID)
                    @Html.HiddenFor(model => model.ITM_MENU_SEQ)
                    @Html.HiddenFor(model => model.ITM_MENU_NIVEL)
                    @Html.HiddenFor(model => model.ITM_TIPO)
                    @Html.HiddenFor(model => model.ITM_EXTERNO)
                    @Html.HiddenFor(model => model.ITM_ATIVO)
                    @Html.Label("Descrição")
                    @Html.TextBoxFor(model => model.ITM_DESCRICAO, new { @class = "form-control", disabled = true})
                    @Html.ValidationMessageFor(model => model.ITM_DESCRICAO)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.Label("Caminho (PATH)")
                    @Html.TextBoxFor(model => model.ITM_NOME_ARQUIVO, new { @class = "form-control", disabled = true })
                    @Html.ValidationMessageFor(model => model.ITM_NOME_ARQUIVO)
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.Label("Sistema")
                    @Html.DropDownListFor(model => model.SIS_ID, new SelectList(@ViewBag.ListaSistema, "Value", "Text"), "--- Selelcione ---", new { @class = "form-control" ,disabled = true })
                    @Html.ValidationMessageFor(model => model.SIS_ID)
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.Label("Menu Antecessor(Pai)")
                    @Html.DropDownListFor(model => model.ITM_NODE_ID, new SelectList(@ViewBag.listaItmMenu, "Value", "Text"), "--- Selelcione ---", new { @class = "form-control" ,disabled = true })
                    @Html.ValidationMessageFor(model => model.ITM_NODE_ID)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.Label("Ordem")
                    @Html.TextBoxFor(model => model.ITM_MENU_SEQ, new { @class = "form-control", disabled = true })
                    @Html.ValidationMessageFor(model => model.ITM_MENU_SEQ)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.Label("Nível")
                    @Html.DropDownListFor(model => model.ITM_MENU_NIVEL, (SelectList)@ViewBag.ListaNivel, "--- Selelcione ---", new { @class = "form-control", disabled = true })
                    @Html.ValidationMessageFor(model => model.ITM_MENU_NIVEL)
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Tipo")
                    <div class="radio">
                        <label>@Html.RadioButtonFor(model => model.ITM_TIPO, "0",  new { disabled = true })Menu/Link</label>
                    </div>
                    <div class="radio">
                        <label>@Html.RadioButtonFor(model => model.ITM_TIPO, "1", new {  disabled = true })Pagina</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Item Externo")
                    <div class="radio">
                        <label>@Html.RadioButtonFor(model => model.ITM_EXTERNO, "0", new { disabled = true })Não</label>
                    </div>
                    <div class="radio">
                        <label>@Html.RadioButtonFor(model => model.ITM_EXTERNO, "1", new {  disabled = true })Sim</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.Label("Situação")
                    <div class="radio">
                        <label>@Html.RadioButtonFor(model => model.ITM_ATIVO, "0", new { disabled = true })Inativo</label>
                    </div>
                    <div class="radio">
                        <label>@Html.RadioButtonFor(model => model.ITM_ATIVO, "1", new { disabled = true })Ativo</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Confirma", class="btn btn-default" />
            <a href="javascript:history.back()" class="btn btn-default" }>Voltar</a>
        </div>
    </div>
}
