<!-- ALT: 23/06/2015 - disponibilizando os dados e métodos javascript -->
@model  COAD.COADGED.Model.DTO.TitulacaoDTO
@using Coad.GenericCrud.Extensions
@{
    ViewBag.Title = "Cadastro de Titulações para a Redação e Editoração";     
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("DashBoard","index","Home")</li>
        <li class="active">Gerenciar Titulações</li>         
    </ol>
}

<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/titulacao.js")

<!-- ALT: 23/06/2015 - abrindo Angular para a aplicação -->
<div ng-app="appModule">
    <div ng-controller="TitulacaoController" class="padding content" data-ng-init="init()">
        <div class="panel panel-default">
            <!-- ALT: 23/06/2015 - pequeno menu à direita -->
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-filter"></span> Filtros
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Opções
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="@Url.Action("Novo")" class="blue">Novo</a>
                            </li>                                                                           
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ALT: 23/06/2015 - buscar/pesquisar -->
            <div class="panel-body"> 
                <div class="row">              
                    <div class="form-group col-lg-5">
                        <label for="superior">Colecionador</label>
                        @Html.DropDownList("filtro.areaId", new SelectList(@ViewBag.area, "Value", "Text"), "" ,new {@class = "form-control", ng_model = "filtro.areaId" })
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="superior">Titulação Pai</label>
                        @Html.DropDownList("filtro.superiorId", new SelectList(@ViewBag.superior, "Value", "Text"), "" ,new {@class = "form-control", ng_model = "filtro.superiorId" })
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="descricao">Titulação</label>
                        <input type="text" id="descricao" ng-model="filtro.descricao" class="form-control"/>
                    </div>             
                    <div class="form-group col-lg-2">
                        <label for="tipo">Tipo</label>
                        @Html.DropDownList("filtro.tipo", new SelectList(@ViewBag.tipo, "Value", "Text"), "" ,new {@class = "form-control", ng_model = "filtro.tipo" })
                    </div>
                </div>   
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="ativoId"> Ativo </label>
                        <input type="radio" id="ativoId" ng-model="filtro.ativoId" ng-value="1" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="ativoId2"> Inativo </label>
                        <input type="radio" id="ativoId2" ng-model="filtro.ativoId" ng-value="0"/>
                    </div>            
                </div>
            </div>

            <!-- ALT: 23/06/2015 - botão pesquisar -->
            <div class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="listar()">Pesquisar</button>
            </div>
        </div>
        
        <div class="panel panel-default"  ng-show="titulacoes">
            <!-- ALT: 23/06/2015 - exibindo dados pesquisados -->
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-book"></span> Cadastro de Titulações </div>
            <div class="panel-body">         
                <div class="table-responsive">     
                    <!-- ALT: 23/06/2015 - mensagens ocorridas nesta tela -->
                    <div>
                        @Html.Messages()
                        <div app-message></div>
                    </div>

                    <!-- ALT: 23/06/2015 - registros deste módulo -->
                    <table class="table table-hover table-bordered">
                        <!-- ALT: 23/06/2015 - exibindo campos do cabeçalho -->
                        <thead>
                            <tr>                               
                                <th style="min-width: 050px">
                                    @Html.DisplayNameFor(model => model.ARE_CONS_ID)
                                </th>
                                <th style="min-width: 050px">
                                    @Html.DisplayNameFor(model => model.TIT_ID)
                                </th>
                                <th style="min-width: 250px">
                                    @Html.DisplayNameFor(model => model.TIT_ID_REFERENCIA)
                                </th>                                                                                                           
                                <th style="min-width: 250px">
                                    @Html.DisplayNameFor(model => model.TIT_DESCRICAO)
                                </th>
                                <th style="min-width: 150px">
                                    @Html.DisplayNameFor(model => model.TIT_TIPO)                                                                                                           
                                </th>
                                <th style="min-width: 150px">
                                    @Html.DisplayNameFor(model => model.TIT_ATIVO)
                                </th>

                                <th>Detalhes</th>
                                <th>Editar</th>
                                <!--<th>Deletar</th>-->
                            </tr>
                        </thead>
                        <!-- ALT: 23/06/2015 - exibindo os dados e os botões de operações -->
                        <tr ng-repeat="item in titulacoes">
                            <td>
                                @Html.DropDownListFor(item => item.ARE_CONS_ID, new SelectList(@ViewBag.area, "Value", "Text"), null, new {@class = "form-control", ng_model = "item.ARE_CONS_ID", disabled = "disabled"})
                            </td>
                            <td>
                                {{item.TIT_ID}}
                            </td>
                            <td>
                                @Html.DropDownListFor(item => item.TIT_ID_REFERENCIA, new SelectList(@ViewBag.superior, "Value", "Text"), null, new {@class = "form-control", ng_model = "item.TIT_ID_REFERENCIA", disabled = "disabled"})
                            </td>
                            <td>
                                {{item.TIT_DESCRICAO}}
                            </td>
                            <td>
                                @Html.DropDownListFor(item => item.TIT_TIPO, new SelectList(@ViewBag.tipo, "Value", "Text"), null, new {@class = "form-control", ng_model = "item.TIT_TIPO", disabled = "disabled"})
                            </td>
                            <td>
                                @Html.DropDownListFor(item => item.TIT_ATIVO, new SelectList(@ViewBag.ativo, "Value", "Text"), null ,new {@class = "form-control", ng_model = "item.TIT_ATIVO", disabled = "disabled" })
                            </td>

                            <td><a href="javascript:void(0)" app-post="@Url.Action("Detalhes")?titulacaoId={{item.TIT_ID}}" title="Detalhes" class="blue"><span class="glyphicon glyphicon-search"></span></a></td>
                            <td><a href="javascript:void(0)" app-post="@Url.Action("Editar")?titulacaoId={{item.TIT_ID}}" title="Editar" class="blue"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <!-- <td><a href="javascript:void(0)" app-confirm="@Url.Action("Remover")?cargoId={{item.CRG_ID}}" app-msg="Deseja realmente excluir o produto [{{item.CRG_DESCRICAO}}] ?" class="btnConfirmaExclusao red" id="btexcluir" title="Excluir" value="Deletar"><span class="glyphicon glyphicon-remove-sign"></span></a></td> -->
                        </tr>
                    </table>                       
                </div>
                <app-pagination request-page="paginaReq" load-function="listar(paginaReq)"></app-pagination>
            </div>
        </div>
    </div>
</div>