@model  COAD.COADGED.Model.DTO.AreasDTO
@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("DashBoard","index","Home")</li>
        <li>@Html.ActionLink("Gerenciar Areas","index","Areas")</li>
        <li class="active">Editar Areas</li>         
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/areas.js")
<div class="form-lg padding" ng-app="appModule">
    <div class="panel panel-default" ng-controller="AreasController" data-ng-init="read(@ViewBag.areaId)">
            @Html.ValidationSummary(true)          
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-edit icon-panel"></span> Editar Areas</div>
            <div class="panel-body">  
                 <div app-message></div>
                 @using (Html.BeginForm(null,null, FormMethod.Post, new {role = "form"})) 
                 {
                 <div class="row">
                    <div class="form-group col-lg-2">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.ARE_CONS_ID,  new {@class = "form-control", ng_model = "areas.ARE_CONS_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ARE_CONS_ID, null, new { app_validation_msg = "erros", @for = "ARE_CONS_ID" }) 
                    </div>
                    <div class="form-group col-lg-2">
                        @Html.LabelFor(model => model.ARE_CONS_DESCRICAO)
                        @Html.TextBoxFor(model => model.ARE_CONS_DESCRICAO,  new {@class = "form-control", ng_model = "areas.ARE_CONS_DESCRICAO" })
                        @Html.ValidationMessageFor(model => model.ARE_CONS_DESCRICAO, null, new { app_validation_msg = "erros", @for = "ARE_CONS_DESCRICAO" }) 
                    </div>
                 </div>
                 }
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary" ng-click="salvarAreas()">Salvar</button>
                <span class="float-right"><button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default">Voltar</button></span>
            </div> 
    </div>
</div>