@model  COAD.COADGED.Model.DTO.PeriodicidadeDTO
@{
    ViewBag.Title = "Edit";
}
@using Coad.GenericCrud.Extensions
    @section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home","index","Home")</li>
        <li>@Html.ActionLink("Gerenciar Periodicidade","index","Periodicidade")</li>
        <li class="active">Detalhes do Periodicidade</li>         
    </ol>
}
<!-- ALT: 23/06/2015 - importando JavaScript específico deste módulo -->
@Scripts.Render("~/Scripts/negocio/COADGED/periodicidade.js")
<div class="form-lg padding" ng-app="appModule">

    <div class="panel panel-default" ng-controller="PeriodicidadeController" data-ng-init="read(@ViewBag.periodoId)">
            <div class="panel-heading bold head-panel"><span class="glyphicon glyphicon-search icon-panel"></span> Detalhes da Periodicidade</div>

            <div class="panel-body">  
                <div app-message></div>               
                <div class="row">
                    <div class="form-group col-lg-2">
                        @Html.Label("ID")
                        @Html.TextBoxFor(model => model.PRD_ID,  new {@class = "form-control", ng_model = "periodicidade.PRD_ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.PRD_DESCRICAO, null, new { app_validation_msg = "erros", @for = "PRD_ID" }) 
                    </div>
                    <div class="form-group col-lg-8">
                        @Html.LabelFor(model => model.PRD_DESCRICAO)
                        @Html.TextBoxFor(model => model.PRD_DESCRICAO, new {@class = "form-control", ng_model = "periodicidade.PRD_DESCRICAO", disabled = "disabled"})                 
                    </div>                    
                </div>
            </div>
            
            <div class="panel-footer">
                <button type="button" onclick="window.location = '@Url.Action("Index")'" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left blue"></span>Fechar</button>
            </div>
    </div>

</div>
